#product_comments_block_extra {
}
	
#product_comments_block_extra a {
    padding-left: 10px;
	text-decoration: none;
	background: url(img/bg_li.png) no-repeat scroll 1px 45% #fff;

}

#product_comments_block_extra a:hover {text-decoration: underline}

#product_comments_block_extra .comments_note {margin-bottom:5px}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {float:left}

#product_comments_block_extra div.star {background: url(img/star.gif) no-repeat scroll 0 0 transparent}

#product_comments_block_extra div.star_on {background: url(img/star.gif) no-repeat scroll 0 -12px transparent}

#product_comments_block_extra .comments_advices {clear:both;}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap { width:585px }
#fancybox-content {
	width:585px;
	border-width:0
}

#new_comment_form {
	width:585px;
	color: #333;
	text-align: left;
	background-color: #fff
}
#new_comment_form .title {
	padding:10px;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	background: #333
}
#new_comment_form ul.grade_content {list-style-type:none}
#new_comment_form .grade_content li {width:50%}
#new_comment_form .product {padding:15px}
#new_comment_form .product img {
	float:left;
   border: 1px solid #ccc;
}
#new_comment_form .product .product_desc {
	float:left;
	margin-left:15px;
	width:300px;
	line-height:18px;
	color:#666
}
#new_comment_form .product .product_desc .product_name {
	padding-bottom:5px;
	font-size:13px;
	color:#000
}

#new_comment_form .grade_content {margin:0 0 20px 0}
#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
	display:inline-block;
	padding:0 10px;
	width:150px;/* 160 */
	font-weight:bold
}
#new_comment_form .grade_content .cancel {margin-right:5px}

.new_comment_form_content {
	padding:15px;
	background:#f8f8f8
}
.new_comment_form_content .intro_form {
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 12px
}

#new_comment_form label {
	display: block;
	margin:12px 0 4px 0;
	font-weight: bold;
	font-size: 12px;
}
#new_comment_form input {
	padding: 0 5px;
	height: 28px;
	width: 540px;
	border: 1px solid #ccc;
	background: #fff;
}
#new_comment_form textarea {
	padding: 0 5px;
	height: 80px;
	width: 540px;
	border: 1px solid #ccc;
	background: #fff;
}

#new_comment_form .submit {
	margin-top:20px;
	padding:0;
	font-size:13px;
	text-align:right
}
#new_comment_form button {
	position: relative;
display: inline-block;
padding: 4px 10px 3px 10px;
border: 1px solid #282828;
font-weight: normal;
color: white;
cursor: pointer;
text-transform: uppercase;
background: #5B5B5B;
background: -moz-linear-gradient(top, rgba(91, 91, 91, 1) 0%, rgba(10, 10, 10, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91, 91, 91, 1)), color-stop(100%,rgba(10, 10, 10, 1)));
background: -webkit-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: -o-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: -ms-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: linear-gradient(to bottom, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#0a0a0a',GradientType=0 );
}

#new_comment_form #criterions_list {
	border-bottom: 1px solid #CCC;
	padding-bottom: 15px;
	list-style-type: none;
}

#new_comment_form #criterions_list li {
	margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
	display: inline;
	float: left;
	margin: 0 0 0 60px;
}

#new_comment_form #criterions_list .star_content {
	float: right;
	margin-right: 180px;
}

#new_comment_form #new_comment_form_footer {
	margin-top: 20px;
	font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {margin:0 0 20px 0}

#product_comments_block_tab div.comment {
	margin:0 0 10px 0;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}

#product_comments_block_tab div.comment div.comment_author {
	font-size: 11px;
	display: inline-block;
	width: 100px;
	vertical-align: top;
}
#product_comments_block_tab div.comment div.comment_author span {font-weight:bold;}
#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {margin-bottom: 10px;}
#product_comments_block_tab div.star,
#product_comments_block_tab div.star_on {
	background: url(img/star.gif) no-repeat 0 0 transparent
}
#product_comments_block_tab div.star_on {background-position: 0 -12px}
#product_comments_block_tab .comment_author_infos {clear:both}
#product_comments_block_tab .comment_author_infos em {color:#999; font-size: 10px;}


@media only screen and (min-width: 1200px) {
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
	width: 560px
}
#product_comments_block_extra .star_content {
position: absolute;
top: 18px;
left: 500px;
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px) {
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
	width: 360px
}
#product_comments_block_extra .star_content {
position: absolute;
top: 18px;
left: 500px;
}
 } 
 
@media only screen and (max-width: 960px) and (min-width: 767px){
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
	width: 230px;
}
#product_comments_block_extra .star_content {
position: absolute;
top: 470px;
left: 10px;
}
 }
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
}
#product_comments_block_extra .star_content {
position: absolute;
top: 559px;
left: 10px;
}
 }

@media only screen and (max-width: 600px) and (min-width: 480px) {
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
}
#product_comments_block_extra .star_content {
position: absolute;
top: 475px;
left: 10px;
}
 }
 
@media only screen and (max-width: 480px) {
#product_comments_block_tab div.comment div.comment_details {
	display: inline-block;
	overflow:hidden;
}
#product_comments_block_extra .star_content {
position: absolute;
top: 375px;
left: 10px;
}
 }

#product_comments_block_tab div.comment_details h4 {padding-bottom:10px}
#product_comments_block_tab div.comment_details p {padding-bottom:10px}
#product_comments_block_tab div.comment_details ul {
	list-style-type:none;
	margin:0
}
#product_comments_block_tab div.comment_details li {
	padding:2px 0 2px 12px;
	background:url(img/bg_li.png) no-repeat 1px 45% #fff
}

#product_comments_block_tab a {
	text-decoration: none;
	font-weight: bold
}

#product_comments_block_tab a:hover {text-decoration: underline}

#product_comments_block_tab button.usefulness_btn {
	cursor: pointer;
	margin:0 0 0 5px;
	display: inline-block;
	padding: 0 2px;
	border: 1px solid #CC9900;
	border-radius: 3px 3px 3px 3px;
	color: #000;
	font-weight: bold;
	background: url("img/bg_bt.gif") repeat-x scroll 0 0 #F4B61B
}
#product_comments_block_tab button.usefulness_btn:hover {background-position: left -50px}
#product_comments_block_tab button.usefulness_btn:active {background-position: left -100px}

#product_comments_block_tab span.report_btn {cursor: pointer}
#product_comments_block_tab span.report_btn:hover {text-decoration:underline}

.fl { float: left; }
.fr { float: right; }

.button_large{
position: relative;
display: inline-block;
padding: 1px 5px 1px 5px;
border: 1px solid #282828;
font-weight: normal;
color: white;
cursor: pointer;
text-transform: uppercase;
background: #5B5B5B;
background: -moz-linear-gradient(top, rgba(91, 91, 91, 1) 0%, rgba(10, 10, 10, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91, 91, 91, 1)), color-stop(100%,rgba(10, 10, 10, 1)));
background: -webkit-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: -o-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: -ms-linear-gradient(top, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
background: linear-gradient(to bottom, rgba(91, 91, 91, 1) 0%,rgba(10, 10, 10, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#0a0a0a',GradientType=0 );
margin: 0px 5px 0px 5px;
}
