.polco_cat{
	display: inline-block;
	margin: 0px 20px 0px 15px;
}

.sf-menu, .sf-menu * {
	list-style:	none;
}
.sf-menu {
	width: 100%;
	border-bottom: 9px solid #2b2b2b;
	text-transform: uppercase;
	text-align: center;
}

.sf-menu ul {
	position: absolute;
}

.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
	position: relative;
	display: inline-block;
	margin: 0px 20px 0px 15px;
}

.sf-menu a {
	display: block;
	position: relative;
	color: #2b2b2b;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -15px;
	top: 25px; /* match top ul list item height */
	z-index: 99;
	width: 140px;
	padding-top: 15px;
	text-align: left;
}

.sf-menu {
float: left;
font-size: 12px;
height: 25px;
padding-right: 2px;
}

.sf-menu a {
	display: block;
	line-height: 16px;
	text-decoration: none;	
}

.sf-menu ul li {
	text-decoration: none;
	color: #2b2b2b;
	font-size: 10px;
	margin: 0px 10px 10px 10px;
	display: block;
}

.sf-menu ul li:hover {
	text-decoration: underline;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-menu a:hover {
	color: #838383;
}

.sf-sub-indicator {
	display: none;
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background-color: #fff;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

li.sf-search {
  background: inherit;
  float: right;
  line-height: 25px;
}

li.sf-search input {
  -moz-border-radius: 0 5px 5px 0;
  padding: 3px 0;
  padding-left: 20px;
  margin-top: 4px;
  background: #fff url(../img/search.gif) no-repeat left center;
}

/* hack IE7 */
.sf-menu a, .sf-menu a:visited {height:34px !IE;}
.sf-menu li li {
	background:#726f72 !IE;
}


@media only screen and (max-width: 768px) {
.sf-menu {
display:none;
}

#menu .toggle_menu{
line-height: 40px;
height: 40px;
display: block;
background-color: #2b2b2b;
font-size: 16px;
color: white;
text-transform: uppercase;
padding-left: 15px;
cursor:pointer;
}

#menu .toggle_menu span{
line-height: 25px;
height: 25px;
width: 25px;
background-color: rgb(255, 255, 255);
font-size: 30px;
color: rgb(0, 0, 0);
text-transform: uppercase;
position: absolute;
right: 7px;
margin-top: 7px;
text-align: center;
}
.polco_subcat{
margin-left: 145px;
margin-top: -40px;
}
}
@media only screen and (min-width: 769px) {

#menu .toggle_menu{
display:none;
}

.toggle{
display:none;
}

#menu .toggle_menu span{
display:none;
}
.polco_subcat{
margin-left: 145px;
margin-top: -40px;
border-top: 1px solid #CCC;
}
}



/*Toggle Area*/
 #menu .toggle {
 line-height: 25px;
height: 25px;
width: 25px;
font-size: 30px;
color: rgb(0, 0, 0);
text-transform: uppercase;
position: absolute;
right: 7px;
margin-top: 7px;
text-align: center;
cursor: pointer;
 }
 #menu ul.navmenu li:first-child .toggle{}

 /*Menu Setup*/
 #menu ul{padding:0; margin:0;}
 #menu ul ul{
 padding-left: 10px;
margin-top: 1px;
background-color: rgb(223, 223, 223);
 }
 #menu ul.navmenu li {margin:0; list-style:none;border-bottom: 1px solid #fff;}
 /*Links*/
 #menu ul.navmenu a, #menu ul.navmenu a:visited {
 line-height: 40px;
height: 40px;
display: block;
background-color: #f6f6f6;
font-size: 12px;
color: rgb(46, 46, 46);
text-transform: uppercase;
padding-left: 15px;
cursor: pointer;
 }
 #menu ul.navmenu ul.submenu a:hover{background:#FFF4D2; color:#333;}
 /*Heading Outer div*/
 #menu ul.navmenu .polco_cat{width:100%; overflow:hidden;}
 /*Header Links*/
 #menu ul.navmenu .polco_cat a{
 line-height: 40px;
height: 40px;
display: block;
width: 100%;
background-color: #f6f6f6;
font-size: 12px;
color: rgb(46, 46, 46);
text-transform: uppercase;
padding-left: 15px;
cursor: pointer;
 }
 /*Header Link Hover*/
 #menu ul.navmenu .polco_cat a:hover{color:#333;}
 /*Removes white border for the first header*/
 #menu ul.navmenu li:first-child .polco_cat a {border-width:0px;}

 /*Single Menu Width Fix*/
 #menu ul.navmenu .menusingle a{width:140px;}

 /*Border Radius and Special Border Width*/
 #menu ul.navmenu li:first-child .polco_cat{border-width:1px 1px 0 1px; -moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}
 #menu ul.navmenu li:last-child .polco_cat{border-width:0px 1px 1px 1px; -moz-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
 #menu ul.navmenu li:last-child ul.submenu{-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
 #menu ul.navmenu li:last-child .polco_cat-open{-moz-border-radius:0;-webkit-border-radius:0px; border-width:0 1px;}