.comment_box{
display: inline-block;
width: 100%;
height: 218px;
border-right: 1px solid #d2d2d2;
vertical-align: top;
float: left;
overflow: hidden;
}

.comment_left{
width: 120px;
display:inline-block;
vertical-align: top;
}

@media only screen and (min-width: 1320px) {
.comment_right{
max-width: 400px;
font-size: 12px;
margin: 0px 10px 10px 10px;
display:inline-block;
}
}
 
@media only screen and (max-width: 1320px) and (min-width: 1010px){
.comment_right{
max-width: 60%;
font-size: 12px;
margin: 0px 10px 10px 10px;
display:inline-block;
}
}
 
@media only screen and (max-width: 1010px) and (min-width: 766px) {
.comment_right{
max-width: 50%;
font-size: 12px;
margin: 0px 10px 10px 10px;
display:inline-block;
}
}
 
@media only screen and (max-width: 766px) and (min-width: 550px) {
.comment_right{
max-width: 60%;
font-size: 12px;
margin: 0px 10px 10px 10px;
display:inline-block;
}
}
 
@media only screen and (max-width: 550px) {
.comment_right{
max-width: 50%;
font-size: 11px;
margin: 0px 2px 2px 2px;
display:inline-block;
}
}

.comment_image{
	display: block;
	width:120px;
}

.comment_title{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
}

.comment_content{
	margin-bottom: 10px;
}

.comment_customer{
	font-weight: bold;
	font-size: 11px;
}

.comment_date{
	font-size: 11px;
}

.comment_stars{
	margin-left: 27px;
	margin-top: 3px;
}

.star {background: url(img/star.gif) no-repeat scroll 0 0 transparent}

.star_on {background: url(img/star.gif) no-repeat scroll 0 -12px transparent}

.slides li{
display: none;
}

#content {
width: 100%;
padding: 15px 18px 15px 18px;
background: #fff;
}

.button_go{
display: block;
font-size: 12px;
position: absolute;
top: 258px;
z-index: 999;
right: 7px;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
transition: all .2s ease;
}

.flex-next:hover{
background-position: 0 0;
}

.flex-prev:hover {
background-position: 0 0;
}
.flexslider_comments:hover .flex-next {opacity: 1;}
.flexslider_comments:hover .flex-prev {opacity: 1;}
.flexslider_comments:hover .button_go {top: 178px;}