/* block top links */

@media only screen and (max-width: 600px) {
ul#header_links {
	display:none;
}
}

ul#header_links {
	list-style-type: none;
font-size: 10px;
text-transform: uppercase;
}
#header_links li {
	float: left;
margin-right: 10px;
line-height: 30px;
}