#layered_block_left div.block_content {
	padding: 6px;
}

#layered_block_left ul {
	padding-left: 0;
	max-height: 120px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 1px;
	padding-right: 1px;
}

#layered_form > div > div {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#layered_block_left .hide-action {
	display: block;
	text-align: right;
	padding-right: 5px;
}
#layered_block_left .hide-action:hover {
	text-decoration: underline;
}

#layered_block_left ul li {
	margin-left: 15px;
	padding-left: 2px;
	list-style-type: none;
}

#layered_block_left #enabled_filters , #layered_url_filter_block {
	font-size: 10px;
	padding-bottom: 5px;
}

#layered_block_left #enabled_filters ul li {
	margin-left: 0;
	padding-left: 0;
}


/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
	background: inherit;
	color: inherit;
}

#layered_block_left #enabled_filters a {
	text-decoration: none;
	color: red;
}

#layered_block_left ul li:hover {
	background: #71BF47;
	color: #FFF;
}

#layered_block_left ul li label {
	cursor: pointer;
}

#layered_block_left ul li.nomargin {
	margin-left: 0;
}

#layered_block_left span.layered_subtitle {
	float: left;
	font-weight: bold;
	font-size: 12px;
	display: block;
	margin-bottom: 4px;
}

#layered_block_left span.layered_close a { text-decoration: none; }

#layered_block_left span.layered_close {
	float: right;
	font-weight: bold;
	font-size: 12px;
	display: block;
	margin-bottom: 4px;
}

#layered_block_left ul li input.checkbox {
	-webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
#layered_block_left ul li input.checkbox:active, #layered_block_left ul li input.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
#layered_block_left ul li input.checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
#layered_block_left ul li input.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

#layered_block_left ul li .disabled {
	color: #666;
}
#product_list .warning {
	margin-top: 13px;
}

#layered_form .select {
	width: 165px;
}
#layered_form .color-option {
	margin-left: 0;
	width: 16px;
	height: 16px;
	padding:0;
	border: 1px solid #666;
}
#layered_block_left .color-option.disable {
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5; 
}
#layered_form  .color-option.on {
	border: 1px solid red;
}
#layered_form input[type=radio] {
	margin-left: 2px;
	vertical-align: middle;
}
.layered_price_range {
	margin-left: 7px;
}
.layered_price_range_unit {
	margin-right: 7px;
}
.layered_slider_container {
	margin: 6px 0 6px 6px; width: 93%;
}
.layered_slider {
	margin-top:5px;
}
.layered_input_range_min {
	width:30px;
}
.layered_input_range_max {
	width:40px;
}
.layered_list_selected {
	font-weight: bold;
}
.layered_ajax_loader p {
	margin: 20px 0;
	text-align: center;
}
.hide-action {
	text-align: center;
	text-align: right;
	display: block;
	cursor: pointer;
}
.hide-action:hover {
	font-weight: bold;
}
#layered_form div div ul {
	max-height: 200px;
	overflow-x: auto;
}
