#module-favoriteproducts-account #left_column {display:none}
#module-favoriteproducts-account #center_column {}

#favoriteproducts_block_account .favoriteproduct {
	position:relative;
   margin-bottom: 14px;
   padding: 12px 8px;
	border: 1px solid #eee;
   border-radius: 3px 3px 3px 3px;
}

.favoriteproduct a.product_img_link {
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
}

.favoriteproduct h3 {
    color: #000000;
    font-size: 13px;
    padding: 0 0 10px;
}

.favoriteproduct  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.favoriteproduct .remove {
	position:absolute;
	top:10px;
	right:2px
}
.favoriteproduct .remove .icon {cursor:pointer}


/* lnk fiche produit */

#usefull_link_block li#favoriteproducts_block_extra_add {
	padding-left:20px;
	background:url(img/add_favorite.gif) no-repeat 0 0;
	cursor: pointer;
	color: #838383;
	float:right;
}
#usefull_link_block li:hover{
	text-decoration: underline;
}

#usefull_link_block li#favoriteproducts_block_extra_remove {
	padding-left:20px;
	background:url(img/del_favorite.gif) no-repeat 0 0;
	cursor: pointer;
	float:right;
	color: #838383;
}

ul#usefull_link_block li#favoriteproducts_block_extra_added {
	padding-left:20px;
	background:url(img/add_favorite.gif) no-repeat 0 0;
	cursor: pointer;
	float:right;
	display: none;
	color: #838383;
}
ul#usefull_link_block li#favoriteproducts_block_extra_removed {
	padding-left:20px;
	background:url(img/add_favorite.gif) no-repeat 0 0;
	cursor: pointer;
	float:right;
	display: none;
	color: #838383;
}