/* Special style for block cart*/
#left_column #cart_block, #right_column #cart_block {
}
#header  #cart_block h4 {
	display: none;
}

@media only screen and (max-width: 480px) {
#header #cart_block {
z-index: 20;
display: none;
height: auto;
width: 300px;
background: #fff;
border: 1px solid #d2d2d2;
font-size: 12px;
-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
padding-top: 20px;
position: absolute;
right: 0px;
top: 30px;
}
}
@media only screen and (min-width: 480px) {
#header #cart_block {
z-index: 20;
display: none;
height: auto;
width: 350px;
background: #fff;
border: 1px solid #d2d2d2;
font-size: 12px;
-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
padding-top: 20px;
position: absolute;
right: 0px;
top: 30px;
}
}
#cart_block.cart_block_hover {display:block}
#cart_block h4 span {
	float: right;
	padding-left: 10px;
	text-transform: none;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer
}

#cart_block  .block_content {}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-right:5px;
	min-width:18px;
	vertical-align: top;
}
#cart_block .cart_block_product_name {}
#cart_block .remove_link {
	float:right;
	display:inline-block;
	margin:1px 0 0 5px;
	height:12px;
	width:12px
}
#cart_block .remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.gif) no-repeat 0 0
}
#cart_block .price {
	float:right
}

#cart_block #cart_block_list dl {
	padding-bottom:10px;
	
}
#cart_block #cart_block_list dt {height: 60px; width: 90%; margin: 0 auto; vertical-align: top;}
#cart_block #cart_block_list dt a {vertical-align: top;}
#cart_block #cart_block_list dd {
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:20px;
	width: 90%;
	margin: 0 auto;
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart_block #cart_block_shipping_cost {}

#cart_block #cart-buttons .button_small {display:none;}
#cart_block #cart-buttons  #button_order_cart {
	float:right;
	margin: 10px;
}
#cart_block #cart-buttons  #button_order_cart span {
	
}
#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-right:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}

#product_ar{
	display: block;
	border-bottom: 1px solid #d2d2d2;
	height: 60px;
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
}
