/* Block best sellers */#best-sellers_block_right{margin: -10px; background-color: white; padding-bottom:20px;font-size: 12px;margin-bottom: 0px;}
#best-sellers_block_right ul {margin-bottom:5px}
#best-sellers_block_right li {
	float:none;
	padding:10px 0;
}
#best-sellers_block_right li.last_item {border:none}
#best-sellers_block_right li a.content_img {
	
}
#best-sellers_block_right li span.number {
	display:block;
	float:left;
	margin-top:6px;
	width:20px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-align:center
}
#best-sellers_block_right li img {
	float: left;
}
#best-sellers_block_right li p {
	float:left;
	margin-left:7px;
	padding:0;
	width:125px;
	font-weight:bold;
	font-size:12px
}
#best-sellers_block_right li .price {
	color:#990000;

}

#best-sellers_block_right p.lnk {
	padding:0;
	text-align:right
}
#best-sellers_block_right .lnk .button_large {
	padding:0;
	border:none;
	background:none
}
#best-sellers_block_right .lnk .button_large:hover {text-decoration:underline}

.bestsell{
	display: block;
background-color: white;
margin: -10px;
padding-top: 20px;
}