/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {
	float:left;
	width:100%;
	padding-top:30px;
}
#reinsurance_block li {
	float:left;
	padding: 25px 10px !important;
	font-size:13px;
	color:#333;
	text-transform:uppercase;
	text-align:left;
	text-shadow:0 1px 0 #fff
}
#reinsurance_block .width1 li {width:1180px}
#reinsurance_block .width2 li {width:580px}
#reinsurance_block .width3 li {width:380px}
#reinsurance_block .width4 li {width:280px}
#reinsurance_block .width5 li {width:220px}
#reinsurance_block .width6 li {width:180px}
#reinsurance_block li img{
	float:left;
	margin-right:10px;
}
#reinsurance_block li span {
	float:left;
	padding-top:0px;
	width:65%;
}