/* block top user information */

#header_user {
font-size: 10px;
text-transform: uppercase;
float: right;
}

.header_container{
height: 30px;
line-height: 30px;
}

.header_welcome{
float: left;
margin-top: -1px;
}

.login_area{
float: left;
}

.cart_icon{
	position: relative;
top: 5px;
right: -5px;
display: inline-block;
}

#header_user #header_nav {
	list-style-type:none;
	float:right;
}

#shopping_cart {
float: left;
padding-top: 1px;
}
#shopping_cart a{
display: inline-block;
padding: 0px 13px 0px 10px;
background: rgb(255, 255, 255);
color: rgb(70, 70, 70);
margin-left: 10px;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
}

#shopping_cart a:hover{
display: inline-block;
text-decoration: none;
}
#header_user #shopping_cart .ajax_cart_quantity {}
#header_user #shopping_cart .ajax_cart_total { display:none !important; }

#your_account {
display: inline-block;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
}

@media only screen and (max-width: 767px) {
.account{display:none;}
}

@media only screen and (min-width: 767px) {
.account{display:inline-block;}
}
