div.addresses {
position: relative;
padding-top: 10px;
font-size: 12px;
background-color: #f6f6f6;
}



@media only screen and (min-width: 600px) {
ul.address {
list-style-type: none;
float: left;
position: relative;
width: 228px;
background-color: #fff;
}
}
@media only screen and (max-width: 600px) {
ul.address {
list-style-type: none;
float: left;
position: relative;
width: 260px;
margin-bottom: 10px;
background-color: #fff;
}
}


#address_delivery {margin-right:35px;}
#address_invoice {margin-right:0}
#delivery_address {margin-right:65px;}

ul.address li {
	padding: 0 15px;
line-height: 18px;
margin-bottom: 5px;
}

ul.address li.address_title {
  font-size: 10px;
  background: rgb(235, 235, 235);
font-weight: bold;
border-bottom: 1px solid #d2d2d2;
}

ul.address li.address_firstname,
ul.address li.address_company {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}

.address_add {
   padding:20px 0
}

.address_select {
	border:1px solid #ccc;
	width: 200px;
	margin-left: 10px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
	float: left;
	width: 225px;
}
.addressesAreEquals label {
	margin-left: 5px;
}
.addressesAreEquals input {
	float: left;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}

/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
list-style-type: none;
float: left;
position: relative;
margin: 10px 10px 0 0;
width: 260px !important;
font-size: 11px;
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}
.addresses ul.address li {
	
}
.addresses ul.address .address_title {
color: #414141;
text-transform: uppercase;
margin-bottom: 15px;
font-size: 10px;
background: rgb(235, 235, 235);
font-weight: bold;
border-bottom: 1px solid #d2d2d2;
}
.addresses ul.address .address_update {margin-top:20px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	font-size:11px;
   text-transform:none
}

