/* create account ****************************************************************************** */
#account-creation_form {}

	#account-creation_form  fieldset {
		background:#f1f1f1;
		margin: 10px;
		padding: 10px;
	}
		#account-creation_form  h3 {
		border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
		}
		#center_column #account-creation_form p {margin:0; padding:0 0 10px 0}
		#account-creation_form p.required {color:#222}
		#account-creation_form p.required  sup {color:#990000}
		
		#account-creation_form p.radio label {
			float:none;
			padding-right:10px;
			width:auto;
			font-size:11px
		}
		#account-creation_form p.checkbox label {
			float:none;
			width:auto;
			font-size:11px
		}
		#account-creation_form p.select select {
			margin-right:10px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#account-creation_form p.textarea textarea {
			height:80px;
			width:370px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		
		#account-creation_form span.form_info {
			display:block;
			color:#666
		}
		#account-creation_form p.inline-infos {
			margin:0 0 0 100px !important;
			font-size:12px;
			color:#666;
		}
	
	#center_column #account-creation_form p.cart_navigation {}
	
	
@media only screen and (min-width: 1200px) {
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:130px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:360px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:260px;
		}
}

@media only screen and (max-width: 1200px) and (min-width: 960px) {
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:130px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:360px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:260px;
		}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px){
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:130px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:360px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:260px;
		}
} 
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:130px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:360px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:260px;
		}
}
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:90px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:260px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:125px;
		}
}
 
@media only screen and (max-width: 480px) {
		#account-creation_form p.radio span,
		#account-creation_form p.text label,
		#account-creation_form p.password label,
		#account-creation_form p.select label,
		#account-creation_form p.select span,
		#account-creation_form p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:60px;/* 260 */
			font-size:11px;
			text-align:right
		}
		#account-creation_form p.text input,
		#account-creation_form p.password input,
		#account-creation_form p.select input {
			padding:0 5px;
			height:22px;
			width:140px;/* 370 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			line-height: 22px;
		}
		#account-creation_form p.checkbox input {
			margin-left:95px;
		}
}