h1{margin-bottom:0px;}

.content_scene_cat {

}

.cat_desc {
	font-size:12px;
	line-height:18px;
}
.cat_desc p {padding: 10px 0px 10px 0px;}
.cat_desc .lnk_more {
   margin-top: -15px;
position: absolute;
color: #ADADAD;
}

.block_content{
	margin-top: 15px;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
	padding:14px 12px;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 1px 0 #666;
	background:url(../img/bg_table_th.png) repeat-x 0 0 #999
}

.inline_list {
	list-style-type:none;
	margin-top:10px;
}
.inline_list  li {
	padding:10px 0;
	border-bottom:1px dotted #ccc
}
.inline_list  li .img {
	float:left;
	margin-right:15px
}
.inline_list  li img {
	border:1px solid #ccc
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}
