table#product_comparison {
	width:100%;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison td {
	padding:6px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	vertical-align:top;
	text-align:center;
	font-size: 12px;
}
#product_comparison td.td_empty{
	border:none;
	background:#fff;
}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {background:#f8f8f8}

#product_comparison .product_image {
	display:block;
	text-align:center
}
#product_comparison .product_image img {}
#product_comparison h5 {
	margin-bottom:10px;
	font-size:12px;
	color:#000
}
#product_comparison .product_desc {
	padding-bottom:5px;
	height:40px;
	color:#666
}
#product_comparison .lnk_more {
	display: block;
margin-bottom: 10px;
text-transform: uppercase;
}

.prices_container {height:50px}
.price_container {padding-bottom:10px}
#product_comparison .price {
	
}
.discount {
   display:inline-block;
   padding:1px 5px;
   font-size:10px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
	background:#9B0000
}

.comparison_availability_statut {display:none}

#product_comparison .cmp_remove {
	display:block;
	margin-bottom:10px;
	text-align:right;
	text-transform: uppercase;
}

.ajax_add_to_cart_button {
	margin-left:9px;
}
.ajax_add_to_cart_button span {
 
}












