
	#contact  fieldset {
		
	}
		#contact  h3 {
			
		}
		#contact #center_column p {font-size: 12px; margin-bottom: 10px;}
		#contact #center_column p.desc_contact { text-align: center; padding-left: 10px; padding-right: 10px; }
		
		#contact p.text label,
		#contact p.select label,
		#contact p.select span,
		#contact p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:150px;/* 180 */
			font-size:12px;
			text-align:right
		}
		#contact p.textarea label {vertical-align:top}
		#contact p.text input,
		#contact p.select input {
			padding:0 5px;
			height:22px;
			width:260px;/* 270 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.select select {
			margin-right: 10px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
line-height: 18px;
height: 22px;
		}
		#contact p.textarea textarea {
			height:80px;
			width:270px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.submit input {margin-left:185px;}