.ez-checkbox { 
	border: 1px solid #cbcbcb; 
	width: 10px; 
	height: 10px; 
	float: left; 
	cursor: pointer; 
	background: white;
	margin-right: 5px;
	margin-top: 1px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	outline:0;
	position: relative;
z-index: 199;
}
.ez-checked { 
	background: #3d3d3d; 
	cursor: pointer; 
}