/* ##################################################################################################
	PRESTASHOP CSS
################################################################################################## */

@import url("grid_prestashop.css");

/* ****************************************************************************
		reset
**************************************************************************** */
html{
color: #000;
background-color: #f6f6f6;
border-bottom: 1px solid #d2d2d2;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0; border:none;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{font-size:100%}
a {cursor:pointer}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix:after {clear: both}
.clearfix {zoom: 1}


/* ************************************************************************************************
		struture
************************************************************************************************ */
#page {
background-color: #fff;
}

* {
 font-family: 'Arvo', sans-serif;
}

#header {z-index:10}

#columns {
z-index: 1;
border-left: 1px solid #d2d2d2;
border-right: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
#left_column { 
background-color: #f6f6f6;
padding-right: 10px;
padding-left: 10px;
font-size: 11px;
color: #363636;
margin: 0px 10px;
margin-bottom: 10px;
}
}
 
@media only screen and (min-width: 767px) {
#left_column { 
background-color: #f6f6f6;
padding-right: 10px;
padding-left: 10px;
font-size: 11px;
color: #363636;
margin: 0px 10px;
max-width: 200px;
display: inline-block;
float: left;
margin-bottom: 10px;
}
}

@media only screen and (min-width: 1200px) {
#center_column {
width: 950px;
display: inline-block;
vertical-align: top;	
float: right;
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px) {
#center_column {
width: 710px;
display: inline-block;
vertical-align: top;
float: right;	
}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px){
#center_column {
width: 518px;
display: inline-block;
vertical-align: top;
float: right;	
}
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
#center_column {
width: 590px;
display: inline-block;
vertical-align: top;
margin-left: 5px;
margin-right: 5px;	
}
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
#center_column {
width: 470px;
display: inline-block;
vertical-align: top;
margin-left: 5px;
margin-right: 5px;	
}
}

@media only screen and (max-width: 480px) {
#center_column {
width: 310px;
display: inline-block;
vertical-align: top;
margin-left: 5px;
margin-right: 5px;	
}
}
 

#center_column_full {}

#right_column {}

#footer {}


/* ************************************************************************************************
		generic style
************************************************************************************************ */
@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo-Regular.ttf');
}
@font-face {
  font-family: 'Armata';
  src: url('../fonts/Armata-Regular.ttf');
}

body{
font-family: 'Arimo', sans-serif;
color: #222;
background: #fff;
}

/* positionnement ****************************************************************************** */
.hidden {display:none}
.f_right {float:right}
p.center {text-align:center}
.clearBoth {clear:both}

/* title *************************************************************************************** */
h1 {
	font-size:24px;
	line-height: 22px
}
h2 {
	padding-bottom:20px;
	font-size:18px
}
h3 {
padding-bottom: 20px;
font-size: 12px;
}
h4 {
	font-size:14px
}

.hide-left-column #left_column {display:none}
.hide-left-column #center_column {width:757px}

/* text **************************************************************************************** */
p {}

p em {font-style:italic}

.warning {
	margin: 0 0 10px 0;
padding: 10px;
font-size: 13px;
font-size: 12px;
text-transform: uppercase;
}
.success {
	margin: 20px;
padding: 10px;
font-size: 12px;
text-align: center;
}
.error {
	margin: 10px;
padding: 10px;
border: 1px solid #A2A2A2;
font-size: 12px;
background: #FDFDFD;
}
.error ol {margin-left:20px}
.error p.lnk {
	margin-top:20px;
	padding:0;
	font-size:11px
}
.required {color:#990000; margin: 10px;font-size: 12px;}

/* link **************************************************************************************** */
a, a:active, a:visited {
	color:#2b2b2b;
	text-decoration:none;
	outline: medium none;
}
	a:hover {text-decoration:underline; color: #838383;}

/*buttons * botones ************************************************************************************* */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*position:relative;
	display:inline-block;
	padding:4px 10px 3px 10px;
	border:1px solid #282828;
	font-weight:normal;
	color:#fff;
	cursor: pointer;
	text-transform: uppercase;
	background: rgb(91,91,91);
	*/
	display:inline-block;
	padding:4px 10px 3px 10px;
	border:0px solid #282828;
	font-weight:normal;
	color:#FFF;
	cursor: pointer;
	text-transform: uppercase;
	background-color:#e9af00;

	 /* Old browsers */
 /*background: -moz-linear-gradient(top,  rgba(91,91,91,1) 0%, rgba(10,10,10,1) 100%); FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,91,91,1)), color-stop(100%,rgba(10,10,10,1))); Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(10,10,10,1) 100%);  Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(10,10,10,1) 100%); Opera 11.10+ */
/* background: -ms-linear-gradient(top,  rgba(91,91,91,1) 0%,rgba(10,10,10,1) 100%); IE10+ */
/* background: linear-gradient(to bottom,  rgba(91,91,91,1) 0%,rgba(10,10,10,1) 100%); W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#0a0a0a',GradientType=0 );  IE6-9 */
font-size: 11px;

}
*:first-child+html input.button_mini, *:first-child+html input.button_small, *:first-child+html input.button, *:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled, *:first-child+html input.button_small_disabled, *:first-child+html input.button_disabled, *:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini, *:first-child+html input.exclusive_small, *:first-child+html input.exclusive, *:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled, *:first-child+html input.exclusive_small_disabled, *:first-child+html input.exclusive_disabled, *:first-child+html input.exclusive_large_disabled {
	border:none
}


/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
	/*padding-bottom: 2px*/
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*background-position: left -36px;
	cursor: default;
	color: #888!important*/
}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*color: white!important*/
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	/*color: #488c40!important*/
}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	text-decoration:none;
}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	/*color: white!important*/
}

/* active button */
input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active,
input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active, input.exclusive_large:active,
a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active,
a.exclusive_mini:active, a.exclusive_small:active, a.exclusive:active, a.exclusive_large:active {
}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini, a.exclusive_mini, span.button_mini, span.exclusive_mini {
	/*width: 30px;
	background-image: url('../img/button-mini.png')*/
}
input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled, a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {
	/*width: 60px;
	background-image: url('../img/button-small.png')*/
}
input.button_disabled, input.exclusive_disabled, span.exclusive {
	border:1px solid #282828;
	color:#ffffff;
	text-transform: uppercase;
	cursor:pointer;
}
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large, span.exclusive_large_disabled {
	/*width: 180px;
	background-image: url('../img/button-large.png')*/
}

/* exclusive button */
/*input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { background-image: url('../img/button-medium_exclusive.png') }
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image: url('../img/button-mini_exclusive.gif') }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image: url('../img/button-small_exclusive.gif') }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large, span.exclusive_large_disabled { background-image: url('../img/button-large_exclusive.gif') }*/

/* form **************************************************************************************** */
form.std fieldset {

}

/* table *************************************************************************************** */
table.std,
table.table_block {
	margin-bottom:20px;
	font-size:11px;
	display: inline-block;
	width:100%;
}

/* BLOCK .block ******************************************************************************** */
.block {}
#footer .block {margin-bottom:0}
	.block h4 {
font-size: 11px;
line-height: 30px;
height: 30px;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid rgb(167, 167, 167);
	}
		.block h4 a {color: #838383;}
	.block ul {list-style-type:none}
		.block li.last {	border:none}
			.block li a {
				display:block;
				color:#333
			}

/* BLOCK .products_block *********************************************************************** */
.products_block {overflow:hidden;}
	.products_block li {float:left
}
	.products_block li img {}

/* BLOCK customer privacy ******************************************************************* */
.account_creation label{
	padding-top:5px;
	width:80%;
	text-align:left;
	cursor:pointer
}

/* BLOCK .footer_links (cms pages) ************************************************************* */
ul.footer_links {
	list-style-type:none;
	margin-bottom:20px;
	text-transform: uppercase
}
ul.footer_links li {float:left}
ul.footer_links li.f_right {float:right}
ul.footer_links li .icon {
	position:relative;
	top:6px;
	left:0
}

/* barre comparaison / tri ********************************************************************* */
.content_sortPagiBar {margin: 0px 0px 10px 0px;}
#center_column .sortPagiBar {
	border-top: 3px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	color:#666;
	background:#ffffff;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 10px;
}
	#center_column .sortPagiBar strong {color:#000;}
#center_column .sortPagiBar p {padding:0;}
#center_column .sortPagiBar form {
display:inline-block;
margin-top: 2px;
}

.sortPagiBar #productsSortForm {float:right;}
	.sortPagiBar select#selectPrductSort {
		border: 1px solid #d2d2d2;
		outline: none;
		height: 20px;
		margin-top: 3px;
	}

.sortPagiBar #bt_compare {
	height: 22px;
	border: 1px solid #d2d2d2;
	text-transform: uppercase;
	padding: 0px 3px 0px 3px;
	font-size: 10px;
	margin-bottom: 2px;
	color: #666666;
	background-color: #ffffff;
	cursor: pointer;
}

.sortPagiBar .nbrItemPage {margin-left:40px;}

.sortPagiBar .PrductSort {float:left;}

.sortPagiBar .nbrProduct {
	display:inline-block;
	padding:0 10px;
}

.sortPagiBar #nb_item {border:1px solid #ccc}

/* pagination ********************************************************************************** */
form.pagination {display:none;}

div.pagination {
	text-align: right;
}
ul.pagination {
list-style-type:none;
list-style-type: none;
font-size: 11px;
text-transform: uppercase;
}
ul.pagination li {display: inline; text-align: center;}
ul.pagination a, ul.pagination span {
display: inline-block;
margin: 0px 4px 0px 4px;
}
ul.pagination a {
	text-align:center;
}
ul.pagination a:hover {
}
ul.pagination .current span {
	color: #838383;
}
ul.pagination li.disabled span {color:#ccc}

#pagination_previous {}
#pagination_next {}
#pagination_previous a, #pagination_previous span,
#pagination_next a, #pagination_next span {
	width:auto;
}
#pagination_previous span,
#pagination_next span {
	color:#838383;
}

/* CART steps *********************************************************************** */
ul#order_step { background-color: white;}
ul.step {
	list-style-type: none;
margin-bottom: 30px;
height: 25px;
width: 100%;
border-bottom: 1px solid #d2d2d2;
}
ul.step li {
float: left;
line-height: 10px;
height: 25px;
width: 194px;
text-align: center;
text-transform: uppercase;
font-size: 11px;
}
.step_todo{
	
}
.step_current{
	background-color: #2b2b2b;
}
ul.step li a, ul.step li.step_current span, ul.step li.step_current_end span {
	display:inline-block;
	padding:8px 10px 12px;
	color:#ffffff;
}
ul.step li.step_current {
	font-weight:bold;
}

ul.step li.step_current_end {
	background-color: #2b2b2b;
	width:203px;
}
ul.step li.step_todo span {
	display:inline-block;
	padding:8px 10px 6px;
	color:#999;
}
ul.step li.step_done {

}
ul.step li.step_done a{
	color: #999;
}
/*ul.step li#step_end {background:url(../img/step_end.gif) no-repeat center bottom transparent}*/

/* module productcomments ********************************************************************** */
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	overflow: hidden;
	float: left;
	margin:0 1px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right;
	margin-right: 3px;
	font-size: 12px
}
.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 #ffffe0;
}
#page .rte { 
background-color: #f6f6f6;
margin: 10px;
padding-left:40px;
padding-right:40px;
padding-bottom: 30px;
font-size:12px;
}
.rte { 
background-color: #f6f6f6;
margin: 10px;
padding: 10px;
padding-bottom: 30px;
font-size:12px;
}

.rte h4 { 
font-size:13px;
padding-bottom:15px;
}

.listcomment {
	list-style-type:none;
	margin:0 0 20px 0 !important;
}
.listcomment li {
	padding:10px 0;
	color:#666
}
.listcomment .titlecomment {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:#333
}
.listcomment .txtcomment {
	display:block;
	padding:5px 0;
	color:#333
}
.listcomment .authorcomment {}


/* ************************************************************************************************
		HEADER
************************************************************************************************ */
#header {position:relative}
#header_logo {
margin-top: 80px;
margin-bottom: 20px;
display: block;
text-align: center;
z-index: 10;
}

@media only screen and (max-width: 767px) {
	#header_logo {
	margin-top: 110px;
	}
}
@media only screen and (min-width: 767px) {
	#header_logo {
	margin-top: 80px;

	}
}

#header_logo {
margin-bottom: 20px;
display: block;
text-align: center;
z-index: 10;
}

#header_right {
position: absolute;
float: right;
top: 0px;
}


/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */
.breadcrumb {
	font-size: 15px;
	color: #2b2b2b;
	width: 100%;
	line-height: 50px;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	text-align: center;
}
.breadcrumb .navigation-pipe {margin:0 3px 0 5px}
.breadcrumb img {
	position:relative;
	top:5px
}


/* ************************************************************************************************
		FOOTER

#footer {
color: #2b2b2b;
max-width: 100%;
margin: 0 auto;
position: relative;
margin-top: 20px;
text-align: center;
}
	.blockcategories_footer,
	#footer .myaccount ,
	#block_various_links_footer,
	#social_block,
	#block_contact_infos {
		float:left;
		width:175px;
		height:120px;
	}
	.blockcategories_footer {
	
		
		}
#footer h4 {
	padding-bottom: 10px;
	text-transform:uppercase
}
#footer h4,
#footer h4 a {
	font-weight:normal;
	font-size:14px;
	color:#2b2b2b
}
#footer a:hover {text-decoration:underline}
#footer ul {list-style-type:none}
#footer li {display: inline-block;}
#footer li a {color:#2b2b2b}

#footer .myaccount {padding:0 10px;}
#footer .myaccount h4 {
	padding:0 0 10px 0;
	background:none;
	text-shadow:none;
}
#footer .myaccount .favoriteproducts img,
#footer .myaccount .lnk_wishlist img {display:none}
************************************************************************************************ */

/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
#footer {
color: #2b2b2b;
max-width: 100%;
margin: 0 auto;
position: relative;
margin-top: 20px;
text-align: center;
}

.blockcategories_footer,
#footer .myaccount ,
#block_various_links_footer,
#social_block,
#block_contact_infos {
		float:left;
		width:220px;
		height:120px;
}

#footer h4 {
	padding-bottom: 10px;
	text-transform:uppercase;
	text-align:left;
	font-weight:bold;
	font-size:13px;
	color:#2b2b2b;
}

#footer h4 a {
	font-weight:bold;
	color:#2b2b2b;
}

#footer ul {list-style-type:none;}
#footer li {}
#footer li a {}
#footer a:hover {
	text-decoration:none;
	font-weight:bold;
	color:#333;
	}

.block_footer_generic {
	width:225px;
	float:left;
	text-align:left;
	/*border-right: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;*/
	padding-left:10px;
	padding-right:5px;
	padding-bottom:10px;
	}
.block_footer_generic h4 {border-bottom: 3px solid #333;}
.block_footer_generic ul {display:block;list-style-type:none;}
.block_footer_generic li {display: list-item;color:#2b2b2b; font-size:13px;}
.block_footer_generic p {font-size:13px;}
.block_footer_generic p:hover {font-weight:bold;}

	
.block_footer_list {padding-top:8px;}		
.block_footer_list h4{border-bottom: 3px solid #333;}		
.block_footer_list ul{}	
.block_footer_list li a{}
.block_footer_list p{}

.copyright {}
.copyright p {
	font-size:6px;
	padding-top:25px;
	padding-bottom:25px;
	display:block;
	float:left;
	position:fixed;
	
	}

/* ************************************************************************************************
		PRODUCT PAGE
************************************************************************************************ */

/* BLOCK idTabs ******************************************************************************** */
.idTabs {
	list-style-type: none;
	margin-top: 20px;
	padding:0 5px;
	border-bottom: 8px solid #f7b900
}
ul.idTabs li {
	float: left;
	margin-right: 1px
}
.idTabs a {
	display:block;
	padding:10px 10px 7px 10px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	background:#000
}
.idTabs .selected {
	color:#000;
	background: url(../img/bg_li_idTabs.png) repeat-x 0 0
}

#more_info_sheets {padding-top:10px}
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {}
#more_info_sheets em {font-style:italic}

#more_info_sheets .product_desc{
	margin-top:5px
}

#more_info_sheets .product_desc .product_image{
	float:left
}

#more_info_sheets .product_desc .block_description{
	float:left;
	margin-left:10px;
	width:420px
}
#more_info_sheets .product_desc .clear_product_desc{
	clear:both;
	height:0px;
	line-height:0px
}

/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {margin-left:20px}

.block_hidden_only_for_screen {display:none}


/* ************************************************************************************************
		PAGE AUTHENTIFICATION
************************************************************************************************ */
#authentication #left_column {display:none}
#authentication #center_column{}


/* ************************************************************************************************
		PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** */
#order #left_column , #order-confirmation #left_column {display:none}
#order #center_column, #order-confirmation #center_column{}

.cart_navigation {text-align: right; padding:10px;font-size: 13px;}
.cart_navigation .exclusive,
.cart_navigation .exclusive_large {
	margin:0px 10px 0px 10px;
}
.cart_navigation .button,
.cart_navigation .button_large {
	color: #292929;
	border:1px solid #c7c7c7;
background: rgb(249,249,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(219,219,219,1) 77%, rgba(211,211,211,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(77%,rgba(219,219,219,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
	margin: 0px 10px 10px 10px;
}


/* step 1 - cart ******************************************************************************* */
.cart_last_product {display:none}

/*p.cart_navigation .multishipping-button { margin-right: 10px }*/

#order-detail-content {margin-bottom:20px}

table#cart_summary th {
padding-top: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #D2D2D2;
}
table#cart_summary  th.cart_product {text-align:center}
table#cart_summary  td.cart_delete,
table#cart_summary  td.price_discount_del {border-right:none;text-align: center}
table#cart_summary  .last_item  td {}


table#cart_summary tr.cart_total_tax,
table#cart_summary tr.cart_total_delivery,
table#cart_summary tr.cart_total_price,
table#cart_summary tr.cart_total_voucher{
	text-align: right;
}
table#cart_summary tr.cart_item.odd,
table#cart_summary tr.cart_item.even {
	border-bottom: 1px solid #D2D2D2;
	background-color: #f6f6f6;
	outline: 10px solid white;
outline-offset: -11px;
 outline:none\9;
}

table#cart_summary tr.customization.odd {
	border-bottom: 1px solid #D2D2D2;
	background-color: #f1f1f1;
	outline: 10px solid white;
outline-offset: -11px;
}
table#cart_summary tr.customization.even {
	background-color: #f3f3f3
}

table#cart_summary tr ul {
	list-style: none;
}
table#cart_summary .cart_product {
	width:80px;
	padding-top: 20px;
	background-color: #fff;
	text-align:center
}table#cart_summary tbody tr:last-child td {
	
}
table#cart_summary  .cart_product  img {}
table#cart_summary .cart_description {
	width: 40%;
	padding-top: 20px;
}
table#cart_summary .cart_unit {width:130px;text-align: right; padding-top: 20px;}
table#cart_summary td.cart_unit {text-align: right}
table#cart_summary  .cart_quantity {width:180px; padding-top: 20px;}
table#cart_summary .customization .cart_quantity {padding: 8px 12px 0;}
.cart_quantity .cart_quantity_input {
	position: relative;
width: 22px;
border: 1px solid white;
top: -5px;
height: 16px;
}
.cart_quantity .cart_quantity_button {
	float:left;
	position: relative;
	margin-right: 3px;
	margin-bottom: 4px;
}
table#cart_summary .cart_total {width:20%;text-align: right; padding-top: 20px;}
table#cart_summary td.cart_total {text-align: right}
table#cart_summary .cart_delete {
	width:64px;
	text-align:center;
	padding-top: 20px;
}
table#cart_summary .cart_discount_price {text-align: right}
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	display: inline-block;
font-size: 10px;
color: #666;
text-transform: uppercase
}

.cart_total_price .total_price_container {
	border-right:none;
}

table#cart_summary .cart_total_price td.cart_voucher {
	
	vertical-align:middle
}

table#cart_summary #total_price_container {
	
}

.cart_voucher h4,
.cart_voucher p {}
.cart_voucher h4 {
	margin-right:12px;
	padding:5px 0;
	font-size:13px
}
.cart_voucher p {padding-bottom:0;}
.cart_voucher #display_cart_vouchers {
	clear:both;
	line-height: 16px;
	color:#666;
	font-weight:normal;
	border-top:1px dotted #ccc
}
.cart_voucher #display_cart_vouchers .title_offers {margin-top:10px}
.cart_voucher #display_cart_vouchers span {font-weight:bold}
@media only screen and (min-width: 601px) {
.cart_voucher input.discount_name {
	padding:0 5px;
	height:22px;
	width:170px;
	border:1px solid #ccc;
	font-weight:normal;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}
}
@media only screen and (max-width: 600px) {
.cart_voucher input.discount_name {
	padding:0 5px;
	height:22px;
	width:100px;
	border:1px solid #ccc;
	font-weight:normal;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}
}
.cart_voucher .submit input.button {
	margin-left:2px;
	padding:2px;
	height:24px;
	border:1px solid #000;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 -1px 0 #333;
	background:url(../img/bg_cart_voucher_submit.png) repeat-x 0 0 #000
}

#cart_summary .price {
	border-right:none;
	text-align: right;
	white-space: nowrap;
}
.total_price_container p {text-align: left}

table#cart_summary .cart_total_price .total_price_container {
	padding: 12px;
font-size: 11px;
vertical-align: top;
font-weight: bold;
}
.cart_total_price .total_price_container p {
	display:block;
	padding:8px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	background:#333
}
.cart_total_price .total_price_container span {
	display:block;
	padding:15px;
	font-weight:bold;
	font-size:18px;
	text-align:center
}

#order_carrier {
	clear:both;
	margin-top:20px;
	border:1px solid #999;
	background:#fff
}
#order_carrier h4 {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
	display:block;
	padding:15px;
	font-weight:bold
}

.order_delivery .first_item {margin-right:35px;}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088CC;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */



#create-account_form, #authentication #login_form {

}
#create-account_form {margin-right: 11px;}

#authentication #create-account_form fieldset,
#authentication #login_form fieldset {
	height: 200px;
	width: 100%;
}

#authentication #create-account_form .form_content,
#authentication #login_form .form_content {
}

#create-account_form h3,
#authentication #login_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
#create-account_form h4 {
	padding-bottom:22px;
	font-size:13px;
	color:#333
}

#create-account_form label,
#login_form label {
	display:inline-block;
	width:110px;
	color:#666
}

#order-opc #login_form_content label {
	display:block;
	margin:0 0 10px 0
}

#create-account_form #SubmitCreate,
#login_form #SubmitLogin {
	float:right
}

.lost_password {
	float:left;
	width:200px
}
.lost_password a {color:#666}

#order-opc .lost_password {
	display:block;
	float:none;
	margin:5px 0 10px;
	width:auto;
	font-size:11px;
	color:#666
}

#ordermsg p {padding-bottom:0}
#ordermsg p.txt {
	float:left;
	margin-right:25px;
	width:220px
}
/*#ordermsg .textarea {float:right}*/
#ordermsg .textarea textarea {
	height:90px;
	width:475px;
	border:1px solid #ccc
}

/* step 3 - address ************************************************************************** */

.address-form-multishipping { padding: 10px 0px; }
#multishipping_mode_box {
	border: 1px solid #D0D3D8;
	background: url("../img/form_bg.jpg") repeat-x scroll left top #D0D1D5;
	margin-bottom: 10px;
	padding: 5px;
}
#multishipping_mode_checkbox {
	vertical-align: middle;
	margin-right: 5px;
}
#multishipping_mode_box.on {
	border: 1px solid #ddd;
}
#multishipping_mode_box .title {
	padding: 5px;
	font-weight: bold;
}
#multishipping_mode_box .description, #multishipping_mode_box .description_off {
	padding: 5px;
}
#multishipping_mode_box .description_off {
	display: none;
	padding: 5px;
}
#multishipping_mode_box .description_off div {
	margin-bottom: 10px;
}
#multishipping_mode_box .description_off a, #multishipping_mode_box .description a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 160px;
	border: 1px solid #ccc;
	background: #ddd;
}
#multishipping_mode_box .description_off a:hover, #multishipping_mode_box .description a:hover {
	background: #f3f3f3;
	border: 1px solid #ccc;
}
#multishipping_mode_box.on .description_off {
	display: block;
}


/* step 4 - paiement ************************************************************************** */

.delivery_options {
	border-top: 0;
background-color: white;
}

#order .delivery_options_address h3, #order-opc .delivery_options_address h3 {
/*background: url("../img/table_header.gif") no-repeat;
color: #374853;
font-weight: bold;
height: 14px;
padding: 5px 10px;
margin: 10px 0 0 0;*/
	font-size: 12px;
border: none;
}
#order .delivery_option_radio, #order-opc .delivery_option_radio {
	float: left;
	margin: 21px 12px;
}
#order .delivery_option label, #order-opc .delivery_option label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
	height: 46px;
}
#order .delivery_option.item, #order-opc .delivery_option.item {
	
}
#order .delivery_option.alternate_item, #order-opc .delivery_option.alternate_item {
	border-top: 1px solid #bdc2c9;

	border-bottom: 1px solid #bdc2c9;
}
#order .delivery_option label > table.resume td, #order-opc .delivery_option label > table.resume td {
	padding: 0 8px;
}
#order .delivery_option label > table.resume td + td, #order-opc .delivery_option label > table.resume td + td {
	width: 300px;
}
#order .delivery_option label > table.resume td + td + td, #order-opc .delivery_option label > table.resume td + td + td {
	width: 100px;
	text-align: right;
}
#order .delivery_option_carrier td {width:200px}
#order .delivery_option_carrier td + td {width:280px;}
#order .delivery_option_carrier td + td + td {width:200px}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
	padding-left:10px;
	width: 160px;
}
#order .delivery_options_address .delivery_option_logo img, #order-opc .delivery_options_address .delivery_option_logo img { /*height: 40px;*/ }
#order .delivery_option_carrier .first_item, #order-opc .delivery_option_carrier .first_item {
	padding: 3px 5px 3px 12px;
	background:url(../img/arrow_right_2.png) no-repeat 3px 7px
}

.order_carrier_content {
padding: 10px;
margin: 10px;
font-size: 12px;
color: #2B2B2B;
background-color: #f6f6f6;
}
.order_carrier_content_2 {
	padding: 10px;
margin: 10px;
font-size: 12px;
color: #2B2B2B;
background: #f6f6f6;
margin-top: 117px;
}
.order_carrier_content h3 {
border-bottom: 3px solid #CCC;
font-size: 13px;
color: #414141;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
.order_carrier_content h3.carrier_title {padding-top:0}
.order_carrier_content input {
	position:relative;
	top:1px
}

#carrierTable {
	border:1px solid #999;
	border-bottom:none;
	background:#fff
}

#carrierTable tbody{
	border-bottom:1px solid #999;
}
#carrierTable  th {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#carrierTable  td {
	padding:15px;
	font-weight:bold;
	border-right:1px solid #e9e9e9
}
#carrierTable  td.carrier_price {border:none}

#gift_div {
	display:none;
	padding-bottom:10px
}
#gift_div label {
	display:block;
	margin-bottom:5px
}
#gift_div #gift_message {
	height:50px;
	width:720px;
	border:1px solid #999
}

a.iframe {font-weight:bold}

.hook_extracarrier {
	margin-top: 5px;
	padding: 5px;
}

/* step 5 - paiement ************************************************************************** */
.paiement_block {

}

.payment_module {
	position: relative;
padding: 20px;
border-top: 1px solid #D2D2D2;
text-transform: uppercase;
}
.payment_module a {display:block;}
.payment_module img {
	float:left;
	margin-right:10px
}
/*.payment_module span {
	position:absolute;
	top:50px;
	left:145px
}*/

.payment_module:before,
.payment_module:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.payment_module:after {clear: both}
.payment_module {zoom: 1; font-size: 11px;}


/* ************************************************************************************************
		PAGE ORDER-OPC
************************************************************************************************ */
#order-opc #left_column {display:none}
#order-opc #center_column{}


#order-opc h2 {}
#order-opc h2 span {
	display:inline-block;
	padding:5px 7px;
	color:#fff;
	background:#333;
}

#order-opc #login_form fieldset {
	margin:10px;
}
#order-opc #login_form fieldset p {padding:0}
#order-opc #login_form fieldset p a {padding:0}

#order-opc #new_account_form p.submit {
	margin-right: 120px;
	text-align:right
}
#order-opc #new_account_form p.opc-required {margin-left:20px}

#order-opc .addresses {
margin-bottom:20px;
padding: 10px;
margin: 10px;
font-size: 12px;
color: #2B2B2B;
background-color: #f6f6f6;
}

#order-opc #opc_delivery_methods h3 {margin:10px;}
@media only screen and (min-width: 1200px) {
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:755px;
	border:1px solid #ccc
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px){
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:755px;
	border:1px solid #ccc
}
 } 
 
@media only screen and (max-width: 960px) and (min-width: 767px) {
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:735px;
	border:1px solid #ccc
}
 }
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:455px;
	border:1px solid #ccc
}
 }
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:455px;
	border:1px solid #ccc
}
 }
 
@media only screen and (max-width: 480px) {
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:280px;
	border:1px solid #ccc
}
 }

#order-opc #opc_payment_methods {margin-bottom:20px}
#order-opc #opc_payment_methods #opc_payment_methods-content p{margin:0;font-size: 11px;}

.delivery_option_carrier td {width:200px}
.delivery_option_carrier td + td {width:280px;}
.delivery_option_carrier td + td + td {width:200px}
.delivery_option_carrier {
	margin: 5px 0 0 45px;
	width: 670px;
	display: none;
}
 .delivery_option_carrier tr td {
	padding: 5px;
}
.delivery_option_carrier.selected {
	display: table;
}
.delivery_option_carrier.not-displayable {
	display: none;
}
.delivery_option_title {
	font-weight: bold;
}


/* ************************************************************************************************
	express checkout
************************************************************************************************ */
#new_account_form {
clear: both;
margin-bottom: 20px;
background-color: #dcdcdc;
margin: 0px 10px 10px 10px;
padding: 10px;
}
@media only screen and (min-width: 1200px) {
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
}

@media only screen and (max-width: 1200px) and (min-width: 960px) {
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px){
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
 } 
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
 }
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
 }
 
@media only screen and (max-width: 480px) {
#new_account_form h3 {
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
width: 280px;
}
 }
#center_column #new_account_form p {
	margin:0;
	padding:0 0 10px 0
}
#new_account_form p.required {color:#222}
#new_account_form p.required sup {color:#990000}
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display: inline-block;
	padding: 6px 15px;
	width: 260px;
	font-size: 14px;
	text-align: right
}
#opc_new_account{
font-size:12px;
}
#new_account_form p.radio label {
	float:none;
	padding-right:10px;
	width:auto;
	font-size:14px;
}
#new_account_form p.checkbox label {
	float: none;
	width: auto;
	font-size: 12px;
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
	height:22px;
	padding:0 5px;
	width:360px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666
}
#new_account_form p.checkbox input {margin-left: 260px;}

#new_account_form #submitGuestAccount {float: right}

/* ************************************************************************************************ */

/* ************************************************************************************************
		paiment - CONFIRMATION
************************************************************************************************ */
#orderconfirmation #left_column {display:none}
#orderconfirmation #center_column{width:757px}


/* ************************************************************************************************
		PAGE PASSWORD
************************************************************************************************ */
#form_forgotpassword fieldset {
	padding: 20px;
}
#form_forgotpassword  p.text label {
	display: inline-block;
	padding-right: 10px;
	width: 174px;
	font-weight: bold;
	font-size: 12px;
	text-align: right
}
#form_forgotpassword  p.text input {
	padding: 0 5px;
	height: 20px;
	width: 288px;
	border: 1px solid #ccc;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff
}
#form_forgotpassword p.submit {
	
}

#password .icon {
	position:relative;
	top:6px;
}


/* ************************************************************************************************
		PAGE ADRESSES
************************************************************************************************ */
#addresses #left_column {display:none}
#addresses #center_column{}

#address p.inline-infos {
	margin:0 0 0 265px !important;
	font-size:11px;
	color:#666;
}


/* ************************************************************************************************
		PAGE ADD ADRESS
************************************************************************************************ */
#address #left_column {display:none}
#address #center_column{}

form#add_adress {}
#add_adress fieldset {
	margin: 10px;
background-color: #f6f6f6;
padding: 10px;
}
#add_adress h3 {
	border-bottom: 1px solid #CCC;
font-size: 12px;
color: #414141;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 15px;
font-weight: normal;
}
#center_column #add_adress p {margin:0; padding:0 0 10px 0}
#add_adress p.required {color:#222}
#add_adress p.required  sup {color:#990000}


@media only screen and (min-width: 767px) {
#add_adress p.text label,
#add_adress p.password label,
#add_adress p.select label,
#add_adress p.select span,
#add_adress p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:230px;/* 260 */
	font-size:11px;
	text-align:right
}
#add_adress p.text input,
#add_adress p.password input,
#add_adress p.select input {
	padding:0 5px;
	height:22px;
	width:360px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.textarea textarea {
	height:80px;
	width:370px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: rgb(238, 238, 238);}
table.std  td,
table.table_block  td {
	padding:12px;
	font-size:12px;
	vertical-align:top
}
table.std th,
table.table_block th {
	padding:5px 12px;

}
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
#add_adress p.text label,
#add_adress p.password label,
#add_adress p.select label,
#add_adress p.select span,
#add_adress p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:100px;/* 260 */
	font-size:11px;
	text-align:right
}
#add_adress p.text input,
#add_adress p.password input,
#add_adress p.select input {
	padding:0 5px;
	height:22px;
	width:260px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.textarea textarea {
	height:80px;
	width:270px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: rgb(238, 238, 238);}
table.std  td,
table.table_block  td {
	padding:12px;
	font-size:12px;
	vertical-align:top
}
table.std th,
table.table_block th {
	padding:5px 12px;

}
}
@media only screen and (max-width: 600px){
#add_adress p.text label,
#add_adress p.password label,
#add_adress p.select label,
#add_adress p.select span,
#add_adress p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:60px;/* 260 */
	font-size:11px;
	text-align:right
}
#add_adress p.text input,
#add_adress p.password input,
#add_adress p.select input {
	padding:0 5px;
	height:22px;
	width:120px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.textarea textarea {
	height:80px;
	width:130px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: rgb(238, 238, 238);}
table.std  td,
table.table_block  td {
	font-size:12px;
	vertical-align:top
}
table.std th,
table.table_block th {}
}

#add_adress p.checkbox input {
	margin-left:260px;
}
#add_adress p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_adress p.textarea label {vertical-align:top}

#center_column  #add_adress p.submit2 {
font-size: 12px;
text-align: right;
}

#add_adress span.form_info,
#add_adress span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}


/* ************************************************************************************************
		PAGE ORDER-SPLIP
************************************************************************************************ */
#order-slip #left_column {display:none}
#order-slip #center_column{}

#order-slip #order-list {border-bottom:1px solid #999}
#order-slip #order-list td {
	border-top: 1px solid #ccc;
	border-bottom:none
}
#order-slip #order-list td.history_invoice {border-right:none}


/* ************************************************************************************************
		PAGE DISCOUNT
************************************************************************************************ */
#discount #left_column {display:none}
#discount #center_column{width:757px}

#discount .table_block tr.last_item td {border-bottom:1px solid #999}
#discount .table_block td.discount_expiration_date {border-right:1px solid #999}
#discount .table_block td.discount_value {white-space:nowrap}


/* ************************************************************************************************
		PAGE ORDER FOLLOW
************************************************************************************************ */
#order-follow #left_column {display:none}
#order-follow #center_column{width:757px}


/* ************************************************************************************************
		PAGE NEW-PRODUCTS
************************************************************************************************ */
#newproducts .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE BEST SALES
************************************************************************************************ */
#bestsales .sortPagiBar {margin-bottom:20px}

/* ************************************************************************************************
		PAGE PRICES DROP SALES
************************************************************************************************ */
#pricesdrop .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE MANUFACTURER
************************************************************************************************ */
#manufacturer .nbrmanufacturer {
	padding: 8px 7px;
	font-size:12px;
	color: #000;
	background: none repeat scroll 0 0 #f0f0f0
}

#manufacturer #product_list {margin-top:15px}

ul#manufacturers_list {list-style-type:none; font-size: 12px;}
ul#manufacturers_list li {
	margin-bottom: 14px;
	padding: 12px 8px;
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
ul#manufacturers_list li a.lnk_img {
	display: block;
	float: left;
}
ul#manufacturers_list li img {
	display: block;
	float: left;
	margin-right: 14px;
	border: 1px solid #ccc;
	vertical-align: bottom
}
ul#manufacturers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}
ul#manufacturers_list li .description {
	overflow: hidden;
	padding: 0;
	font-size:12px;
	color:#666
}
ul#manufacturers_list li .right_side {float:right;}

.description_box {
	line-height: 18px;
}
.description_box p {margin-bottom: 10px;
}
.description_box .hide_desc {
	display: none;
}
.description_box .lnk_more {
	color: #A2A2A2;
text-transform: uppercase;
display: block;
margin-bottom: 10px;
}
.description_box ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

/* ************************************************************************************************
		PAGE SUPPLIER
************************************************************************************************ */
#supplier .nbrmanufacturer {
	padding: 8px 7px;
	font-size:12px;
	color: #000;
	background: none repeat scroll 0 0 #f0f0f0
}
ul#suppliers_list {list-style-type:none}
ul#suppliers_list li {
	margin-bottom: 14px;
	padding: 12px 8px;
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
ul#suppliers_list li a.lnk_img {
	display: block;
	float: left;
}
ul#suppliers_list li img {
	display: block;
	float: left;
	margin-right: 14px;
	border: 1px solid #ccc;
	vertical-align: bottom
}
ul#suppliers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}
ul#suppliers_list li .description {
	overflow: hidden;
	padding: 0;
	font-size:12px;
	color:#666
}
ul#suppliers_list li .right_side {float:right;}


/* ************************************************************************************************
		PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
	font-size: 11px;
font-weight: normal;
text-align: right;
padding:0px;
color:#838383;
line-height:26px;
}
#search .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE 404
************************************************************************************************ */
#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {display:none}

#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {display:none}

#pagenotfound #center_column {width:940px;}


.pagenotfound {
	text-align:center;
	padding-top:40px;
	height:420px;
	font-size:14px;
	background-color:#333;
	/*background:url(../img/404_pagenotfound_icon.png) no-repeat 100% 0;*/
}
.pagenotfound h1{
	color:#fff;
	font-size:20px;
	font-weight:bold;
	padding-top:16px;
}
.pagenotfound h2{
	color:#fff;
	font-size:14px;


}
.pagenotfound h3{
	color:#fff;
	font-size:12px;


}
.pagenotfound p{
	color:#fff;
	font-size:14px;
	padding-top:15px;	
}


#pagenotfound fieldset {border:none}
#pagenotfound fieldset label {color:#333}
#pagenotfound  #search_query {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #fff !important;
	border-top: 1px solid #666;
	padding: 0 5px;
	height: 24px;
	width: 200px;
	color: #333;
	background: url(../../../modules/blocksearch/img/bg_search_input.png) repeat-x scroll 0 0 #fff
}
#pagenotfound .button_small {
	padding: 4px 7px;
	border: medium none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color: #fff;
	text-transform: uppercase;
	background: url("../../../modules/blocksearch/img/bg_search_submit.png") repeat-x scroll 0 0 #101010
}
#pagenotfound .pagenotfound a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
#pagenotfound .pagenotfound .icon {
	position:relative;
	top:3px
}


/* ************************************************************************************************
		addons payment cheque
************************************************************************************************ */
#module-cheque-payment #left_column {display:none}
#module-cheque-payment #center_column{}


/* ************************************************************************************************
		addons payment bankwire
************************************************************************************************ */
#module-bankwire-payment #left_column {display:none}
#module-bankwire-payment #center_column{}


/* ************************************************************************************************
		addons google checkout
************************************************************************************************ */
#module-gcheckout-payment #left_column {display:none}
#module-gcheckout-payment #center_column{width:757px}

/* ************************************************************************************************
		addons paypal
************************************************************************************************ */
#module-payment-submit #left_column {display:none}
#module-payment-submit #center_column{width:757px}


/* ************************************************************************************************
		addons cashondelivery validation
************************************************************************************************ */
#module-cashondelivery-validation #left_column {display:none}
#module-cashondelivery-validation #center_column{}


/* ************************************************************************************************
		addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {padding:10px !important}
#account-creation_form fieldset.reversoform  .text label{
	display:block;
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
}
#account-creation_form fieldset.reversoform .infos-sup {
	padding:0 !important;
	font-size:10px;
	font-style:italic;
	text-align:right
}
/* ************************************************************************************************
		addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label{
	font-size: 11px;
padding-bottom: 10px;
text-align: left;
cursor: pointer;
}

/* ************************************************************************************************
		addon referralprogram
************************************************************************************************ */
#module-referralprogram-referralprogram-program #left_column {display:none}
#module-referralprogram-referralprogram-program #center_column{width:757px}

#footer .myaccount li.referralprogram img {display:none}

#module-referralprogram-referralprogram-program .sheets {padding-top:10px}

#module-referralprogram-referralprogram-program form p.checkbox {font-weight:bold}
#module-referralprogram-referralprogram-program form p.checkbox a {text-decoration:underline}
#module-referralprogram-referralprogram-program form p.submit {text-align:right}
#module-referralprogram-referralprogram-program form p.see_email {
	padding-left:10px;
	color: #0088cc;
	background:url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
	color: #0088cc;
	text-decoration:underline
}

/* ************************************************************************************************
		addon loyalty
************************************************************************************************ */
#module-loyalty-default #left_column {display:none}
#module-loyalty-default #center_column{width:757px}

#product p#loyalty {
	padding:10px 0 0 20px;
	border-top:1px solid #ccc;
	background:url(../img/icon/info.png) no-repeat 0 8px;
	margin-top: 10px;
}

#footer .myaccount li.loyalty img {display:none}


/* ************************************************************************************************
		addon Livezilla
************************************************************************************************ */
#livezilla_lnk  {
	margin:10px 0;
	text-align: right
}
#livezilla_lnk a {
	display:inline-block;
	padding:6px 8px 8px 8px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#fff;
	text-shadow: 0 -1px 0 #000;
	background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {text-decoration:none}

/* ************************************************************************************************
		addons comments products
************************************************************************************************ */
form#sendComment  fieldset{
	padding:10px;
	border:1px solid #ccc;
	background:#eee
}
form#sendComment h3 {font-size:14px;}
#new_comment_form p.text {
	 margin-bottom: 0;
	 padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}
#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #ccc;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
	height:80px;
	width:508px;
	border:1px solid #ccc;
}
#sendComment p.submit {
	padding:0;
	text-align:right
}

#sendComment p.closeform {
	float:right;
	padding:0;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background:url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
	position: relative;
	top:2px;
	float: left;
	height: 12px;
	width: 12px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
div.star_on a { background-position: 0 -12px }
div.star_hover a, div.star a:hover { background-position: 0 -12px }


/* ************************************************************************************************
		xxxxx
************************************************************************************************ */


/* ************************************************************************************************
		guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
	padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
	padding-bottom: 10px;
}



/* ************************************************************************************************
		CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/

/*************** Block ADVERTISING ***************/
.advertising_block { width: 191px; margin-bottom: 1em; text-align: center }



/*************** Block CATEGORIES ***************/
#categories_block_left  li {text-transform: uppercase;}
	#categories_block_left  li.last {	border:none;}
		#categories_block_left  li a {
			display:block;
			padding:7px 11px 5px 22px;
			color:#333;
			background:url(../../../modules/blockcategories/img/arrow_right_2.png) no-repeat 10px 10px transparent
		}
		
	#categories_block_left  li ul {margin-left:40px}
		#categories_block_left  li ul li {border:none}
			#categories_block_left  li ul li a {
				padding-left:0;
				background:none
			}
		
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	display:block;
	float:right;
	margin:10px 10px 0;
	height:9px;
	width:9px;
	background:url(../../../modules/blockcategories/img/icon/open-close.png) no-repeat 0 -9px;
	cursor:pointer
}
#categories_block_left li .CLOSE {background-position:0 0}


/* footer */
.blockcategories_footer {
	padding:0;
	height:120px;
	border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
}
.blockcategories_footer ul ul {display:none !important}



/*************** Block CMS ***************/
/* footer */
#footer .block_various_links {padding:15px 10px;}

/* Block CMS links */
.informations_block_left li {border-bottom:0px dotted #eee}
.informations_block_left li.last {border:none;}
.informations_block_left li a {
	text-transform:uppercase;
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blockcms/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}
    
tr.subitem > td:first-child + td {
    padding-left: 10px;
}

.PC_footer_links{
display: block;
padding-top: 30px;
padding-bottom: 20px;
margin: 0 auto;
width: 80%;
text-align: center;
font-size: 11px;
text-transform: uppercase;
line-height: 22px;
}

.PC_footer_links span{
	display: inline-block;
	padding: 0px 10px 5px 13px;
}

@media only screen and (max-width: 767px){
.PC_footer_links span{
display: inline-block;
padding: 0px 5px 2px 5px;
}
}

.PC_spac{
	display: inline-block;
	color: #d2d2d2;
}
@media only screen and (min-width: 1200px){
/*************** Block NEWSLETTER *****************/

.newsletter_block {
font-size: 11px;
width: 249px;
height: 120px;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
text-align: center;
display: inline-block;
vertical-align: top;
float:left;
}

.newsletter_block_content{
vertical-align:top;
}

.newsletter_block_header
{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 22px;
}

.newsletter_block_submit
{
display:block;
height: 22px;
text-transform: uppercase;
padding: 0px 3px 0px 3px;
font-size: 10px;
cursor: pointer;
color: #292929;
border: 1px solid #c7c7c7;
background: rgb(249,249,249);
background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(219,219,219,1) 77%, rgba(211,211,211,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(77%,rgba(219,219,219,1)), color-stop(100%,rgba(211,211,211,1)));
background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d3d3d3',GradientType=0 );
margin-left:-2px;
}

.newsletter_block_content_input
{
display:block;
height: 20px;
width: 140px;
padding: 0px 0px 0px 5px;
border: 1px solid #d2d2d2;
outline: 0;
font-size: 10px;
font-family: Arial, Verdana, Tahoma;
color: #888888;
line-height: 20px;
float:left;
margin-left: 0px;
}

}

@media only screen and (max-width: 1200px){
.newsletter_block {
font-size: 12px;
text-transform: uppercase;
color: #585858;
width: 100%;
margin: 0 auto;
height: 35px;
line-height: 35px;
border: 1px solid #d2d2d2;
background-color: rgb(238, 238, 238);
margin-top: 10px;
}

.newsletter_block_content{
float: right;
margin-top: 5px;
padding-right: 10px;
}

.newsletter_block_header
{
font-size: 12px;
text-transform: uppercase;
float:left;
padding-left: 5px;
}

.newsletter_block_submit
{
float: left;
height: 22px;
text-transform: uppercase;
padding: 0px 3px 0px 3px;
font-size: 10px;
cursor: pointer;
color: #292929;
border: 1px solid #c7c7c7;
background: rgb(249,249,249);
background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(219,219,219,1) 77%, rgba(211,211,211,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(77%,rgba(219,219,219,1)), color-stop(100%,rgba(211,211,211,1)));
background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(219,219,219,1) 77%,rgba(211,211,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d3d3d3',GradientType=0 );
margin-left:-2px;
}

.newsletter_block_content_input
{
display:block;
height:20px;
width: 145px;
padding: 0px 5px 0px 5px;
border: 1px solid #d2d2d2;
outline: 0;
font-size: 10px;
font-family: Arial, Verdana, Tahoma;
color: #888888;
line-height: 20px;
float:left;
margin-left: 20px;
}
}

@media only screen and (max-width: 480px){
.newsletter_block_content_input
{
display:block;
height:20px;
width: 120px;
padding: 0px 5px 0px 5px;
border: 1px solid #d2d2d2;
outline: 0;
font-size: 10px;
font-family: Arial, Verdana, Tahoma;
color: #888888;
line-height: 20px;
float:left;
margin-left: 20px;
}
}
.block_contact_infos_general{}

/*************** Block CONTACTINFOS ***************/
@media only screen and (min-width: 1200px){
.block_contact_infos 
{
font-size: 11px;
display: inline-block;
width: 219px;
height: 120px;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
text-align: center;
vertical-align: top;
float:left;
}

.block_contact_infos_header
{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 22px;
}

.block_contact_infos_detailed
{
	visibility: hidden;
	height: 220px;
	opacity:0;
	border: 1px solid #d2d2d2;
	margin-top: 10px;
	position:relative;
	top:0px;
	left:0px;
	-webkit-transition: opacity .6s ease;
	-moz-transition: opacity .6s ease;
	transition: opacity .6s ease;
}

.block_contact_infos_detailed SPAN
{
	display: block;
	padding: 5px;
}

.block_contact_infos:hover .block_contact_infos_detailed
{
	visibility: visible;
	border: 1px solid #d2d2d2;
	margin-top: 10px;
	opacity:1;
	height: 220px;
	background-color: #ffffff;
	position:relative;
}

.block_contact_infos_general{
	height:25px;
}
}

@media only screen and (max-width: 1200px){
.block_contact_infos 
{
font-size: 12px;
text-transform: uppercase;
color: #585858;
width: 100%;
margin: 0 auto;
line-height: 35px;
border: 1px solid #d2d2d2;
background-color: rgb(238, 238, 238);
margin-top: 10px;
}

.block_contact_infos_header
{
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	padding-left: 5px;
}

.block_contact_infos_detailed
{
margin-top: 10px;
margin-bottom: 10px;
position: relative;
top: 0px;
font-size: 11px;
text-transform: none;
}

.block_contact_infos_detailed SPAN
{
display: block;
line-height: 20px;
text-align: right;
}

.header_polco{display: none;}
}



/*************** Block LINK ***************/
#links_block_left .block_content li {border-bottom:1px dotted #eee; }
#links_block_left .block_contentt li.last {border:none;}
#links_block_left .block_content li a {
    display:block;
	padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blocklink/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}



/*************** Block MANUFACTURER ***************/
.blockmanufacturer li {text-transform: uppercase;}
.blockmanufacturer li.last {	border:none;}
	.blockmanufacturer li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockmanufacturer/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}


.blockmanufacturer form {margin-top:10px;}
.blockmanufacturer p {
	padding:0;
	text-align:center
}

/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
.paiement_logo_block a { text-decoration: none }
.paiement_logo_block img { margin: 0 0.5em }



/*************** Block RSS ***************/
#rss_block_left p {
	margin:0;
	padding:10px;
}

#rss_block_left li {}
#rss_block_left li.last {	border:none;}
	#rss_block_left li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

	
/*************** Block SOCIAL ***************/
@media only screen and (min-width: 1200px){
.social_block 
{
display: inline-block;
width: 249px;
height: 120px;
padding: 0px 15px 0px 15px;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
text-align: center;
vertical-align: top;
float:left;
}
.social_block_header
{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 18px;
}
.social_block span
{
	padding: 0px 3px 0px 3px;
}
}

@media only screen and (max-width: 1200px){
.social_block 
{
font-size: 12px;
text-transform: uppercase;
color: #585858;
width: 100%;
margin: 0 auto;
height: 35px;
line-height: 35px;
border: 1px solid #d2d2d2;
background-color: rgb(238, 238, 238);
margin-top: 10px;
}
.social_block_header
{
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	padding-left:5px;
}

.social_block_content{
float: right;
}

.social_block_content li{
width: 27px;
margin-left: 3px;
margin-top: 3px;
margin-right: 2px;
outline: none;
position: relative;
float: right;
}

.social_block span
{
	padding: 0px 3px 0px 3px;
}

}


/*************** Block STORE ***************/
.blockstore img { margin: 10px 0 0 0}
.blockstore p { 
	padding-bottom:0;
	font-weight:bold;
	text-align: right
}
.blockstore p.store_image { 
	padding-bottom:10px;
	text-align:center
}


/*************** Block SUPPLIER ***************/
.blocksupplier li {}
.blocksupplier li.last {	border:none;}
	.blocksupplier li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blocksupplier/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

.blocksupplier form {margin-top:10px;}
.blocksupplier p {
	padding:0;
	text-align:center
}

.PS_category_header h1{
	position: relative;
	width: 100%;
	border-right: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	text-align: center;
	font-size: 28px;
	line-height: 21px;
	text-transform: uppercase;
	/*font-family: 'Fauna One', serif;*/
	font-weight:400;
	padding-bottom: 20px;
letter-spacing: 3px;
}
#cart_title{
position: relative;
width: 100%;
text-align: center;
font-size: 28px;
line-height: 21px;
text-transform: uppercase;
font-family: Georgia,Times,Serif;
font-weight: normal;
padding-bottom: 30px;
border-bottom: 1px solid #D2D2D2;
border-top: 1px solid #D2D2D2;
padding-top: 30px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#custom_title{
position: relative;
width: 100%;
text-align: center;
font-size: 18px;
line-height: 21px;
padding-bottom: 30px;
border-bottom: 1px solid #D2D2D2;
padding-top: 30px;
text-transform: uppercase;
/*font-family: 'Fauna One', serif;*/
font-weight:500;
letter-spacing: 3px;
}

@media only screen and (max-width: 767px) {
#custom_title span{
display:none;
}
}
@media only screen and (min-width: 767px) {
#custom_title span{
color: rgb(206, 206, 206);
margin: 0px 10px 0px 10px;
}
}


.regdet{
	display: block;
margin: 0 auto;
padding-bottom: 20px;
}

.fpass{
	font-style: italic;
	text-decoration: underline;
}

.products_block_comp{
	margin: 10px;
}

.acc_head_3{
width: 100%;
text-align: center;
text-transform: uppercase;
font-size: 10px;
line-height: 30px;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
background-color:#333;
}

@media only screen and (max-width: 600px) {
.acc_head_3 SPAN{
display:none;
}
}
@media only screen and (min-width: 600px) {
.acc_head_3 SPAN{
margin:0px 10px 0px 10px;
color: rgb(255, 255, 255);
}
}

.new_one{
	font-weight: normal;
}

.header_background{
position: absolute;
left: 0px;
right: 0px;
display: block;
height: 30px;
background-color: #f6f6f6;
border-bottom: 1px solid #d2d2d2;
}

.footer_space{
position: absolute;
display: block;
width: 100%;
}

.feat{
	height: 370px;
	width:5000px;
}


@media only screen and (min-width: 1200px) {
.infiniteCarousel {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 1200px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 563px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	height: 200px;
	font-size: 12px;
}
#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:280px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px) {
.infiniteCarousel {
  width: 960px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 960px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 442px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	height: 300px;
	font-size: 12px;
}
#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:280px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
 }
 
@media only screen and (max-width: 960px) and (min-width: 767px){
.infiniteCarousel {
  width: 720px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 720px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 346px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	height: 300px;
	font-size: 12px;
}
#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:280px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
 }
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
.infiniteCarousel {
  width: 480px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 480px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 560px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	font-size: 12px;
}
#create-account_form #email_create {
	padding:0 5px;
	height:20px;
	width:280px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:180px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
 }
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
.infiniteCarousel {
  width: 480px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 480px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 440px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	font-size: 12px;
}
#create-account_form #email_create {
	padding:0 5px;
	height:20px;
	width:250px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:150px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
.history_mobile_item_hidden{display: none;}
 }
 @media only screen and (max-width: 480px) {
.infiniteCarousel {
  width: 240px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
height: 372px;
}

.infiniteCarousel .wrapper {
  width: 240px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 370px; 
  position: relative;
  top: 0;
}
.regform{
	display: inline-block;
	width: 280px;
	margin: 10px 0px 10px 10px;
	background-color: #f6f6f6;
	padding: 10px;
	vertical-align: top;
	font-size: 12px;
}
#create-account_form #email_create {
	padding:0 5px;
	height:20px;
	width:250px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:190px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height: 20px;
}
.history_mobile_item_hidden{display: none;}
 }
 
 
 
 @media only screen and (min-width: 1200px) {
 .numeracja{
position: absolute;
left: -142px;
font-size: 17px;
color: rgb(255, 255, 255);
width: 140px;
height: 30px;
border: 1px solid #d2d2d2;
line-height: 30px;
background: black;
top: 25px;
}
 }
  @media only screen and (max-width: 1200px) {
 .numeracja{
display: none;
}
 }
 
 
.infiniteCarousel ul a img {
}

.infiniteCarousel .wrapper ul {
  width: 99999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
height: 372px;
  margin: 0;
  padding-right: 0px;
  text-align: center;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 50px;
  width: 50px;
  text-indent: -999px;
  position: absolute;
  top: 17px;
  cursor: pointer;
  color: red;
}

.infiniteCarousel:hover .back{opacity:1}
.infiniteCarousel:hover .forward {opacity:1}

.infiniteCarousel .forward {
opacity:0;
 background: url(../img/gray_next.png) no-repeat 0 -30px;
  width: 30px;
	height: 30px;
	position:absolute;
	top:33%;
	right:10px;
	
	-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
transition: all .2s ease;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.infiniteCarousel .back {
opacity:0;
 background: url(../img/gray_prev.png) no-repeat 0 -30px;
  left: 10px;
  width: 30px;
	height: 30px;
	position:absolute;
	top:33%;
	
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
transition: all .2s ease;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;

}

.back:hover,
.forward:hover {
	background-position: 0 0;
}

.product_title_carousel{
font-size: 11px;
position: absolute;
width: 220px;
margin: 0 auto;
font-size: 12px;
height: 55px;
margin: 0px 10px 0px 10px;
}

.product_price_carousel{
position: absolute;
width: 240px;
font-size: 22px;
margin-top: 59px;
}

.online_only{
	font-size: 11px;
}

.tt-wrapper li a{
width: 27px;
margin: 0 2px;
outline: none;
position: relative;
float: left;
padding-top:5px;
}

@media only screen and (min-width: 1200px) {
.tt-wrapper li a span{
    width: 90px;
	height: auto;
	line-height: 10px;
	padding: 5px;
	left: 50%;
	margin-left: -49px;
	font-size: 14px;
	color: #838383;
	text-align: center;
	border: 1px solid #d2d2d2;
	background: #ffffff;
	text-indent: 0px;
	position: absolute;
	bottom: 40px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	pointer-events: none;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.tt-wrapper li a span:after{
    bottom: -14px;
    margin-left: -10px;
    border-top: 10px solid #fff;
}

.tt-wrapper li a:hover span{
    visibility: visible;
	opacity: 1;
}
}
@media only screen and (max-width: 1200px) {
.tt-wrapper li a span{display:none;}
}
.resumecat {
display: inline-block;
line-height: 30px;
height: 30px;
width: 100%;
font-size: 11px;
text-transform: uppercase;
}

.pagi{
position: relative;
right: 0px;
display: inline-block;
line-height: 30px;
height: 26px;
width: 100%;
font-size: 11px;
text-transform: uppercase;
}

.catcount{
position: absolute;
}


.hidden_cart{
position:relative;
bottom:-30px;
font-size:11px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity:0;
filter:alpha(opacity=0); /* For IE8 and earlier */
cursor:pointer;
}

.product_box_carousel:hover .hidden_cart{
opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav {margin: 0; padding: 0; list-style: none;} 

.flex-direction-nav{}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {text-indent: -9999px;}

.flex-direction-nav .flex-next {
opacity:0;
 background: url(../img/gray_next.png) no-repeat 0 -30px;
  width: 30px;
	height: 30px;
	position:absolute;
	top:40%;
	right:10px;
	
	-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
transition: all .2s ease;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.flex-direction-nav .flex-prev {
opacity:0;
 background: url(../img/gray_prev.png) no-repeat 0 -30px;
  left: 10px;
  width: 30px;
	height: 30px;
	position:absolute;
	top:40%;
	
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
transition: all .2s ease;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.flex-next:hover{
background-position: 0 0;
}

.flex-prev:hover {
background-position: 0 0;
}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}


/* Control Nav */
.flex-control-paging li a {text-indent: -9999px; display:none;}


@media only screen and (max-width: 480px) {
#cart_body{
color: #414141;
margin-bottom: 15px;
font-size: 11px;
background: #fff;
border-bottom: 1px solid #d2d2d2;
padding:10px;
}

#cart_body span{
display: inline-block;
vertical-align: top;
width: 170px;
}

.cart_image{
background-color: #fff;
width: 100%;
text-align: center;
margin-bottom: 10px;
}

.cart_header{
display: inline-block;
width: 100px;
font-weight: bold;
text-transform: uppercase;
font-size: 10px;
}
#cart_summary thead{
display: none;
}
#cart_summary tbody{
display: none;
}
table#cart_summary  td {
	padding:12px;
	font-size:11px;
	vertical-align:top;
	width:100%;
}
}

@media only screen and (min-width: 480px) {
#cart_body{
display: none;
}
table#cart_summary  td {
	padding:12px;
	font-size:11px;
	vertical-align:top
}
}

@media only screen and (min-width: 1200px) {
.topnav {
	display: none;
}
.polco_arrow{
background: #fff url(../img/arr_more.gif) no-repeat right;
}
}

@media only screen and (max-width: 1200px) and (min-width: 960px) {
.topnav {
	display: none;
}
.polco_arrow{
background: #fff url(../img/arr_more.gif) no-repeat right;
}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px){
.topnav {
	display: none;
}
.polco_arrow{
background: #fff url(../img/arr_more.gif) no-repeat right;
}
 } 
 
@media only screen and (max-width: 767px) {
a.header_nav{
background-color: #1e1e1e;
color: #fff;
}

.topnav {
width: 100%;
background-color: #f6f6f6;
}

ul.topnav {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
}

ul.topnav li {display: block;}

ul.topnav li a {
	line-height: 10px;
	font-size: 12px;
	padding: 10px 5px;
	display: block;
	font-weight: bolder;
	text-decoration: none;
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
	list-style: none;
}

ul.topnav ul li a {
	padding-left: 20px;
	font-weight: normal;
	outline:0;
	border-bottom: 1px solid rgb(255, 255, 255);
}

ul.topnav ul li a:hover {
	background-color:#d2d2d2;
	color:#675C7C;
}

ul.topnav ul ul li a {
	padding-left: 40px;
	background-color:#f9f9f9;
}

ul.topnav ul ul ul li a {
	padding-left: 60px;
	background-color: #f9f9f9;
}

ul.topnav ul ul li a:hover {
	background-color:#e4e4e4;
}

ul.topnav span{
	float:right;
}
.polco_arrow{}
 }

 
 /* simple */
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			perspective: 1000;
			margin-left: 10px;
		}

			
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				-webkit-transform: rotateY(0deg);
				-moz-transform: rotateY(00deg);
				transform: rotateY(0deg);
			}

		.flip-container, .front_image {width: 224px; height: 224px;}
		.flip-container, .back_image {width: 224px; height: 224px;}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front_image, .back_image {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.front_image {
			z-index: 2;
		}

		.back_image {
			-webkit-transform: rotateY(00deg);
			-moz-transform: rotateY(00deg);
			transform: rotateY(00deg);
		}
		
		.cool{
display: inline-block;
/*background: #2b2b2b;*/
color: white;
/*font-family: 'Fauna One', serif;*/
font-weight:bold;
line-height: 18px;
padding: 0 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
/*font-weight: bold;*/
font-size: 16px;
top: 1px;
position: relative;
		}
		
.ajax_block_product li{
list-style:none;
}