#history #left_column {display:none}
#history #center_column{}
#history #center_column h1{margin-top:20px}
#history #center_column h4{
	margin:20px 0;
	padding:15px 20px;
	background:#ccc
}
#history #center_column h4 input {
	position: relative;
   top: -8px;
	float:right;
}

.info-order {
	margin-bottom:20px;
}
.info-order p {padding-bottom:10px}
.info-order p .icon {
	position:relative;
	top:2px;
	left:0
}

#order-list {
	margin-bottom:20px;
	width:100%;
	border-bottom:none
}
#order-list  th {
width: 15%;
}
#order-list tr.alternate_item {}
#order-list  td {
	padding: 12px 0px 12px 12px;
	font-weight:bold;
	font-size:12px;
	vertical-align:top
}
#order-list  td.history_detail {border-right:none;}

#order-list .last_item  td {}

.adresses_bloc {margin-bottom:20px}
.adresses_bloc  .item {margin-right: 10px;}

.detail_step_by_step {}
.detail_step_by_step tr.last_item td {}

#order-detail-content table {}
#order-detail-content table .order_qte_input {display:none}
#order-detail-content table tr.totalprice td {}
#order-detail-content table tr:nth-child(even) {}

#sendOrderMessage {margin-bottom:20px}
#sendOrderMessage p {padding-bottom:10px}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
	width:100%;
}
@media only screen and (min-width: 600px) {
	#order-list {
	display: block;
	}
	.history_mobile{
	display: none;
	}
	.history_mobile_item{
	display: none;
	}
	.history_mobile_item_title{
	display: none;
	}
}
@media only screen and (max-width: 600px) {
	#order-list {
	display: none;
	}
	.history_mobile{
	display: block;
	margin-bottom: 20px;
	}
	.history_mobile_item{
	display: inline-block;
	}
	.history_mobile_item_title{
	display: inline-block;
width: 110px;
font-size: 11px;
font-weight: bold;
	}
}
