#identity #left_column {display:none}
#identity #center_column{}

#identity h3 {
	font-weight:normal;
	font-size:13px
}
#identity p {padding-bottom:10px}

#identity form.std fieldset {
	margin-top:0;
	padding:10px;
}

#identity .std p.required {color:#333}

@media only screen and (min-width: 767px) {
#identity .std p.text label,
#identity .std p.password label,
#identity .std p.select label {
	display:inline-block;
	padding-right:10px;
	width:174px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.text input,
#identity .std p.password input {
	padding:0 5px;
	height:20px;
	width:253px;/* 263 */
	border:1px solid #ccc;
}
#identity .std p.radio span {
	display:inline-block;
	padding-right:10px;
	width:174px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.checkbox input {
	position:relative;
	top:2px;
	left:0;
	margin:0 2px 0 198px;
}
#identity .std p.submit {padding:10px 0 20px 198px}
#identity .std #security_informations {
	padding:0 0 0 198px;
	font-size:11px
}
}
@media only screen and (max-width: 767px) and (min-width: 600px) {
#identity .std p.text label,
#identity .std p.password label,
#identity .std p.select label {
	display:inline-block;
	padding-right:10px;
	width:124px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.text input,
#identity .std p.password input {
	padding:0 5px;
	height:20px;
	width:253px;/* 263 */
	border:1px solid #ccc;
}
#identity .std p.radio span {
	display:inline-block;
	padding-right:10px;
	width:124px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.checkbox input {
	position:relative;
	top:2px;
	left:0;
	margin:0 2px 0 148px;
}
#identity .std p.submit {padding:10px 0 20px 148px}
#identity .std #security_informations {
	padding:0 0 0 148px;
	font-size:11px
}
}
@media only screen and (max-width: 600px){
#identity .std p.text label,
#identity .std p.password label,
#identity .std p.select label {
	display:inline-block;
	width:70px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.text input,
#identity .std p.password input {
	padding:0 5px;
	height:20px;
	width:133px;/* 263 */
	border:1px solid #ccc;
	vertical-align: top;
}
#identity .std p.radio span {
	display:inline-block;
	padding-right:10px;
	width:60px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right
}
#identity .std p.checkbox input {
	position:relative;
	top:2px;
	left:0;
	margin:0 2px 0 0px;
}
#identity .std p.submit {padding:10px 0 20px 0px}
#identity .std #security_informations {
	padding:0 0 0 0px;
	font-size:11px
}
}




#identity .std p.text label sup,
#identity .std p.password label sup,
#identity .std p.select label sup {color:#990000}

#identity .std p.select select {
	border:1px solid #ccc
}

#identity .std p.radio input {
	padding:0 5px;
	height:auto;
	width:auto;
	border:none;
	background:none
}

#identity .std p.submit .button {}






