#my-account  #left_column {display:none}
#my-account #center_column {}
#my-account #center_column h1 {margin-bottom:20px}

#my-account #center_column h4 {
	font-weight:normal;
	font-size:12px;
	color:#666;
	margin-bottom: 10px;
}

#my-account .myaccount_lnk_list {list-style-type:none;padding-bottom: 20px;}
#my-account .myaccount_lnk_list li {
	font-size:13px;
	line-height:28px
}
#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
	position:relative;
	top:6px;
	left:0
}