#orderopc  #left_column {display:none}
#orderopc #center_column{width:757px}

#orderopc  #left_column h2 {margin-top:20px}

#opc_account_choice {padding:0 15px;}
#opc_account_choice .opc_float {
	float:left;
	width:350px
}
#opc_account_choice .opc_float ul {margin:0 0 20px 30px}

form#new_account_form {}
#new_account_form  fieldset {

}
#center_column #new_account_form p {margin:0; padding:0 0 10px 0;}
#new_account_form p.required {color:#222;}
#new_account_form p.required  sup {color:#990000;}

@media only screen and (min-width: 1200px) {
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:230px;/* 260 */
	font-size:14px;
	text-align:right
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 360px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
left: 300px;
}
#new_account_form p.checkbox input {
margin-left: 280px;
margin-top: 10px;
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 380px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 15px;
}
}

@media only screen and (max-width: 1200px) and (min-width: 960px) {
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:230px;/* 260 */
	font-size:14px;
	text-align:right
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 360px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
left: 300px;
}
#new_account_form p.checkbox input {
margin-left: 280px;
margin-top: 10px;
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 380px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 15px;
}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px){
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:230px;/* 260 */
	font-size:14px;
	text-align:right
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 360px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
left: 300px;
}
#new_account_form p.checkbox input {
margin-left: 280px;
margin-top: 10px;
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 380px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 15px;
}
 } 
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:100px;/* 260 */
	font-size:14px;
	text-align:right
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 360px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
left: 160px;
}
#new_account_form p.checkbox input {
margin-left: 150px;
margin-top: 10px;
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 130px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 380px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 8px;
}
 }
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:100px;/* 260 */
	font-size:14px;
	text-align:right
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 260px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
}
#new_account_form p.checkbox input {
margin-left: 150px;
margin-top: 10px;
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 130px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 270px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 7px;
}
 }
 
@media only screen and (max-width: 480px) {
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
display: inline-block;
padding: 6px 15px;
width: 85px;
margin-left: -20px;
font-size: 11px;
text-align: right;
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
padding: 0 5px;
height: 22px;
width: 160px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: absolute;
}
#new_account_form p.checkbox input {
margin-left: 10px;
margin-top: 10px
}
#new_account_form span.form_info,
#new_account_form span.inline-infos {
	display:block;
	margin:5px 0 0 85px;
	color:#666
}
#new_account_form p.textarea textarea {
height: 80px;
width: 170px;
border: 1px solid #ccc;
font-size: 12px;
color: #666;
position: relative;
left: 15px;
}
 }

#new_account_form p.radio label {
	padding-right:10px;
	font-size:14px;
}

#new_account_form p.checkbox label {
	font-size:12px;
}
#new_account_form p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666;
	position: relative;
left: 15px;
}

#opc_account_errors {
	margin: 10px;
	margin-bottom: 15px;
}
#center_column #new_account_form p#opc_account_saved {
	color: green;
	float: right;
	margin-right: 20px;
	padding: 0;
}
