#product_list{
	display: inline-block;
	width: 102%;
	margin-right: 10px;
}

@media only screen and (min-width: 1200px) {
.product_box{
display: block;
float: left;
height: 380px;
width: 237px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 237px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
}

@media only screen and (max-width: 1200px) and (min-width: 960px) {
.product_box{
display: block;
float: left;
height: 470px;
width: 237px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 237px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
}

@media only screen and (max-width: 960px) and (min-width: 767px){
.product_box{
display: block;
float: left;
height: 470px;
width: 258px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 258px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
}

@media only screen and (max-width: 767px) and (min-width: 600px){
.product_box{
display: block;
float: left;
height: 470px;
width: 295px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 295px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
}
 
@media only screen and (max-width: 600px) {
.product_box{
display: block;
float: left;
height: 470px;
width: 235px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 235px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
 }

 @media only screen and (max-width: 480px) {
.product_box{
display: block;
float: left;
height: 470px;
width: 310px;
margin: 0;
padding-right: 0px;
text-align: center;
}
.product_details{
position: absolute;
width: 310px;
margin: 0 auto;
}
.product_image{
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
}
 }
 
.hidden_cart{
position: relative;
top: 107px;
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
zoom: 1;
}

.product_box:hover .hidden_cart{
opacity:1;
zoom:1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
}

.product_new{
display: inline-block;
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.product_title{
font-size: 12px;
margin: 0px 10px 0px 10px;
height: 65px;
}

.product_manufacturer{
display: block;
font-size: 14px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 2px;
height: 20px;
}

.product_price{
color: #9C0000;
font-size: 20px;
font-weight:500;
}

.product_on_sale{
	font-size: 11px;
}

.product_discount{
font-size: 12px;
text-decoration: line-through;
color: #2b2b2b;
}

.product_desc{
display:none;
}


@media only screen and (min-width: 1200px) {
.grid .product_box{
display: block;
width: 950px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
height: 250px;
margin-bottom: 10px;
}

.grid .product_details{
width: 765px;
vertical-align: top;
position: absolute;
left: 430px;
}

.grid .product_desc{
display: block;
font-size: 12px;
width: 720px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 210px;
text-align: right;
}

.grid .product_image{
display: inline-block;
width: 180px;
margin: 0;
position: relative;
float: left;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: absolute;
right: 0px;
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px){
.grid .product_box{
display: block;
width: 710px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
height: 250px;
margin-bottom: 10px;
}

.grid .product_details{
width: 525px;
vertical-align: top;
position: absolute;
left: 430px;
}

.grid .product_desc{
display: block;
font-size: 12px;
width: 520px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 210px;
text-align: right;
}

.grid .product_image{
display: inline-block;
width: 180px;
overflow: hidden;
margin: 0;
position: relative;
float: left;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: absolute;
right: 0px;
}
}
 
@media only screen and (max-width: 960px) and (min-width: 767px) {
.grid .product_box{
display: block;
width: 518px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
height: 250px;
margin-bottom: 10px;
}

.grid .product_details{
width: 332px;
vertical-align: top;
position: absolute;
left: 430px;
}

.grid .product_desc {
display: block;
font-size: 12px;
width: 300px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 210px;
text-align: right;
}

.grid .product_image{
display: inline-block;
width: 180px;
overflow: hidden;
margin: 0;
position: relative;
float: left;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: absolute;
right: 0px;
}
}
 
@media only screen and (max-width: 767px) and (min-width: 600px) {
.grid .product_box{
display: block;
width: 585px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
height: 250px;
margin-bottom: 10px;
}

.grid .product_details{
width: 405px;
vertical-align: top;
position: absolute;
left: 190px;
}

.grid .product_desc{
display: block;
font-size: 12px;
width: 390px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 210px;
text-align: right;
}

.grid .product_image{
display: inline-block;
width: 180px;
overflow: hidden;
margin: 0;
position: relative;
float: left;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: absolute;
right: 0px;
}
}
 
@media only screen and (max-width: 600px) and (min-width: 480px) {
.grid .product_box{
display: block;
width: 465px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
height: 250px;
margin-bottom: 10px;
}

.grid .product_details{
width: 285px;
vertical-align: top;
position: absolute;
left: 190px;
}

.grid .product_desc{
display: block;
font-size: 12px;
width: 270px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 210px;
text-align: right;
}

.grid .product_image{
display: inline-block;
width: 180px;
overflow: hidden;
margin: 0;
position: relative;
float: left;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: absolute;
right: 0px;
}
.grid .product_image{
display: inline-block;
width: 180px;
overflow: hidden;
position: relative;
margin: 0px 0px 0px 0px;
}
}



@media only screen and (max-width: 480px) {
.grid .product_box{
display: block;
width: 308px;
border-bottom: 1px solid #d2d2d2;
margin: 0;
padding-right: 0px;
text-align: left;
margin-bottom: 10px;
}

.grid .product_details{
width: 308px;
margin-top: 10px;
vertical-align: top;
}

.grid .product_desc{
display: block;
font-size: 11px;
width: 300px;
margin-top: 20px;
margin-bottom: 20px;
}

.grid .hidden_cart{
font-size: 11px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
position: relative;
margin-bottom: 10px;
top: 130px;
text-align: right;
}

.grid .product_image{
display: inline-block;
position: relative;
margin: 0px 0px 0px 20px;
}
.grid .product_new{
background-color: rgb(61, 61, 61);
color: white;
font-size: 11px;
text-transform: uppercase;
line-height: 14px;
padding: 0px 3px 0px 3px;
margin-right: 4px;
font-family: arial;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
right: 0px;
}
}





.grid .pimage{
display: inline-block;
width: 180px;
height: 180px;
overflow: hidden;
position: absolute;
}

.grid .product_title{
font-size: 11px;
text-transform: uppercase;
margin:0;
height:auto;
}

.grid .product_manufacturer{
display: block;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 0px;
}


.grid .p_image{
display: inline-block;
width: 180px;
height: 180px;
overflow: hidden;
}

#navigation{
font-size: 10px;
display: inline-block;
text-transform: none;
margin-left: 10px;
}

#navigation a{
text-transform: uppercase;
margin: 5px;
}
