<!-- Module AnythingSlider -->
<div class="slider-wrapper theme-default">
	<ul id="slider">
		{$i=0}	
		{foreach from=$title item=banner}
			{if $url[$i]!=''}
				<li><a href="{$url[$i]}">{$content[$i]}</a></li>
			{else}
				<li>{$content[$i]}</li>
			{/if}
			{$i=$i+1}
		{/foreach}</ul>
		
<script>		
// DOM Ready
$(window).resize(function () {
    $(function(){
$('#slider').anythingSlider({
resizeContents: true,
addWmodeToObject: 'transparent',
buildArrows: true,
buildStartStop: false,
autoPlay: true,
pauseOnHover: true,
delay: 8000,
mode: 'f',
buildNavigation: false,
});
});
});

 $(function(){
$('#slider').anythingSlider({
resizeContents: true,
addWmodeToObject: 'transparent',
buildArrows: true,
buildStartStop: false,
autoPlay: true,
pauseOnHover: true,
delay: 8000,
mode: 'f',
buildNavigation: false,
});
});
	
</script>
</div>
<!-- /Module AnythingSlider -->
