
@media only screen and (min-width: 1200px) {
.pbrands_header
{width: 80%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;float: left;
}
.spinacz{
display: block;
border-bottom: 1px solid #d2d2d2;
margin: 0;
background-image: url('mask.gif');
background-repeat: repeat-y;
background-position: 960px;
}
.pbrands_header_promo{
display: inline-block;width: 20%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;
}
.pbrands_container_all_promo
{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.pbrands_single_promo
{
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
.fill
{
	display: inline-block;
	background-image:url('mask.gif');
	background-repeat: repeat-y;
	height: 50px;
	width: 20%;
	margin-bottom: -5px;
}
.pbrands_single
{
width: 20%;
float: left;
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
}
 
@media only screen and (max-width: 1200px) and (min-width: 960px) {
.pbrands_header
{width: 80%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;float: left;
}
.spinacz{
display: block;
border-bottom: 1px solid #d2d2d2;
margin: 0;
background-image: url('mask.gif');
background-repeat: repeat-y;
background-position: 768px;
}
.pbrands_header_promo{
display: inline-block;width: 20%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;
}
.pbrands_container_all_promo
{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.pbrands_single_promo
{
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}.fill
{
	display: inline-block;
	background-image:url('mask.gif');
	background-repeat: repeat-y;
	height: 50px;
	width: 20%;
	margin-bottom: -5px;
}
.pbrands_single
{
width: 20%;
float: left;
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
}
 
@media only screen and (max-width: 960px) and (min-width: 768px){
.pbrands_header
{width: 80%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;float: left;
}
.spinacz{
display: block;
border-bottom: 1px solid #d2d2d2;
margin: 0;
background-image: url('mask.gif');
background-repeat: repeat-y;
background-position: 614px;
}
.pbrands_header_promo{
display: inline-block;width: 20%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;
}
.pbrands_container_all_promo
{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.pbrands_single_promo
{
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
.fill
{
	display: inline-block;
	background-image:url('mask.gif');
	background-repeat: repeat-y;
	height: 50px;
	width: 20%;
	margin-bottom: -5px;
}
.pbrands_single
{
width: 20%;
float: left;
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
.pbrands_header
{width: 80%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;float: left;
}
.spinacz{
display: block;
border-bottom: 1px solid #d2d2d2;
margin: 0;
background-image: url('mask.gif');
background-repeat: repeat-y;
background-position: 480px;
}
.pbrands_header_promo{
display: inline-block;width: 20%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;
}
.pbrands_container_all_promo
{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.pbrands_single_promo
{
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
.fill
{
	display: inline-block;
	background-image:url('mask.gif');
	background-repeat: repeat-y;
	height: 50px;
	width: 20%;
	margin-bottom: -5px;
}
.pbrands_single
{
width: 20%;
float: left;
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
}
}

@media only screen and (max-width: 600px) {
.pbrands_header
{width: 99.9%;color: #ffffff;font-size: 14px;text-transform: uppercase;background: #000000;margin: 0;line-height: 30px;float: left;
}
.spinacz{
display: block;
border-bottom: 1px solid #d2d2d2;
margin: 0;
background-image: url('mask.gif');
background-repeat: repeat-y;
background-position: 480px;
}
.pbrands_header_promo
{display: none;
}
.pbrands_container_all_promo
{
	display: none;
}

.pbrands_single_promo
{
display: none;
}
.fill
{
	display: none;
}
.pbrands_single
{
width: 100%;
float: left;
margin-bottom: 5px;
vertical-align: top;
padding: 0;
font-size: 11px;
margin-left: 10px;
}
}



.pbrands_letters
{
	display: inline-block;
	width: 100%;
	color: #000000;
	font-size: 14px; 
	font-weight: 400; 
	text-transform: uppercase; 
	margin: 0;
	padding: 0;
}

.pbrands_left
{
	font-size: 14px; 
	text-transform: uppercase; 
	overflow: hidden;
	position: relative;
	clear: left;
	margin: 0;
	padding: 0;
}
ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		width: 100%;
	}
	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		display: inline-block;
		width: 3.57%;
		line-height: 30px;
		text-align: center;
		overflow: hidden;
		position: relative;
	}
	ul.tabs li:hover {
		background: #dd8818;
	}	
	ul.tabs li.active{
		background: #FFFFFF;
	}
.tab_container 
{
	clear: both;
	float: left; 
	width: 100%;
}

.pbrands_container
{
	-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;
   margin: 0;
	padding: 0;
}
.pbrands_container_all
{
display: inline-block;
width: 80%;
vertical-align: top;
margin: 0;
padding: 0;
}

.pbrands_letter
{
	font-size: 32px; 
	display: inline-block;
	width: 80%;
	line-height: 40px;
	margin: 0;
	padding: 0;
	height: 50px;
	vertical-align: top;
}

