/* block top search */
@media only screen and (max-width: 767px) {
#search_block_top #search_query_top {
	height: 28px;
	padding: 0px 5px 0px 5px;
	width: 265px;
	border:1px solid #d2d2d2;
	color:#666;
	outline:0;
	float: right;
}
#search_block_top input.button1 {
	position: absolute;
top: 1px;
right: 1px;
background: url(img/search_submit.gif);
height: 25px;
width: 33px;
border: none;
outline: 0;
cursor: pointer;
}
#search_center {
	position: absolute;
	left: -140px;
}
#search_block_top {
z-index: 11;
font-size: 12px;
position: absolute;
top: 65px;
left: 50%;
}
#search_block_top input{
line-height: 28px\0/;
}
}




@media only screen and (min-width: 767px) {
#search_block_top #search_query_top {
	height: 28px;
	padding: 0px 5px 0px 5px;
	width: 88px;
	border:1px solid #d2d2d2;
	color:#666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline:0;
	float: right;
}

#search_block_top #search_query_top:focus {
	width:280px;	
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);	
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);	
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#search_block_top input.button1 {
	position: absolute;
top: 1px;
right: 1px;
background: url(img/search_submit.gif);
height: 25px;
width: 33px;
border: none;
outline: 0;
cursor: pointer;	
}
#search_block_top {
z-index: 11;
font-size: 12px;
position: absolute;
right: 0px;
top: 65px;
}
#search_block_top input{
line-height: 28px\0/;
}

}
