<!-- MODULE Block Share -->
<div class="clearfix"></div>
<div class="share_block" style="margin-top:10px;">
<!-- AddThis Button BEGIN -->
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e6e5f31544b4c43"></script>
<!-- AddThis Button END -->
<!-- AddThis Button END -->

</div>
<!-- /MODULE Block Share -->