@font-face {
    font-family: 'accidental_presidencyregular';
    src: url('../fonts/accid-webfont.eot');
    src: url('../fonts/accid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/accid-webfont.woff') format('woff'),
         url('../fonts/accid-webfont.ttf') format('truetype'),
         url('../fonts/accid-webfont.svg#accidental_presidencyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-size:arial}
h1{font-size:28px; font-size:28px; font-family:"accidental_presidencyregular",arial;}
h1 span{font-size:11px; font-family:arial}
h2{padding:10px 0; margin:0px; font-size:28px; text-transform:uppercase; font-family:"accidental_presidencyregular"; }
select{ padding:4px 5px;}
.hidden{}
.clear {
    clear: both;
    display: block;
    height: auto;
    overflow: hidden;
    visibility: visible;
    width: auto;
}
span.new{display:block; height:51px; width:51px; font-size:11px; text-align:center; line-height:51px; position:absolute; top:54px; left:113px}

/* Standard Form */

.homeBlock { padding:0px; clear:both; display:block}

/* Cart Navigation */
.cart_navigation{clear:both; display:block; padding-top:50px}
.cart_navigation a.button{float:left; padding:5px 20px}
.cart_navigation a.exclusive{float:right; padding:5px 20px}
.cart_navigation:before,.cart_navigation:after{content:''; height:0px; display:block; clear:both}

/* Header */
.header .logo{position:absolute; top:6px; left:0px;}
.header{ height:163px; position:relative}
.header .columns{position:relative;}

	/* Special style for block cart*/

/* Front Banner */
	/* RIGHT COLUMN */
	#right_column {padding-top:30px;}
	#right_column .block{ clear:both; display:block; font-size:12px;}
	#right_column .block h4,#right_column .block p.title_block{margin-bottom:0px; text-align:left; height:30px; line-height:30px; display:block; border-bottom:solid 1px #bebfc1; font-size:14px; font-family:arial; padding-left:15px; padding-bottom:0px;}
	#right_column .block p.title_block a{color:#000}
	#right_column .block h4 a{text-decoration:none; }
	#right_column  a.button{padding-top:6px; padding-bottom:6px; margin-bottom:0px}
	#right_column #special_block_right .block_content p a{padding-right:10px;}
	#right_column  #stores_block_left  .blockstore p a{padding-right:10px;}
	#right_column  #stores_block_left .block_content p.store_image a{padding:0px;}
	
	/* FOOTER */
	.breadcrumb{font-size:12px; color:#999999}
	.breadcrumb a{color:#33ccff; text-decoration:none}
		
		
/* #Page Styles
================================================== */
	/* HOME PAGE */
	
	/* Top Banner */
	.topBanner{display:block; height:53px; padding-top:10px; }
	
	#manufacturers_block_home{box-shadow:0 0 10px #ccc}
	#manufacturers_block_home li img{max-height:80px; max-width:188px;}
	#manufacturers_block_home li{text-align:center}
	#manufacturers_block_home li  a{display:table-cell;vertical-align:middle; text-align:center; width:188px; height:80px;}
	
	/* brandslogoes */
	.brandslogoes{text-align:center; margin-top:15px}
	
	
		/* featuredProducts */
		#featured-products_block_center{clear:both}
		#featured-products_block_center h4{ font-family: "accidental_presidencyregular";  font-size: 28px;  margin: 0;    padding: 10px 0;    text-transform: uppercase;}
		#featured-products_block_center h5{font-size:12px; font-family:arial; line-height:16px; }
		#featured-products_block_center h5 a{text-decoration:none}
		#featured-products_block_center li{text-align:center; height:150px; padding-top:50px; display:block; position:relative;}
		#featured-products_block_center li a.pic{display:block; height:120px}
		#featured-products_block_center li span.new{position:absolute}
	
	/* Login Form */
	.loginwrapper.columns { margin:0 auto; float:none; display:block; clear:both; padding-top:50px }
	#login_form { height:241px;}
	.loginwrapper form { clear: none; width: 240px; }
	.loginwrapper.columns { clear: both; display: block; float: none; margin: 0 auto; padding-top: 0px;  }
	
	.loginwrapper .std h4 {font-family: arial; font-size: 14px; font-weight: bold; line-height: 18px; padding: 10px 0 0px 16px; }
	
	.loginwrapper .std p { margin-bottom: 16px; overflow: hidden; }
	.loginwrapper .std p input { margin-bottom: 0; }
	.loginwrapper .text { padding: 0 0 0 16px; }
	.loginwrapper .text label { float: left; font-weight: normal; padding: 5px 0 0 0; width: 112px; text-align:left; }
	.loginwrapper .submit { padding: 0 0 0 126px; }
	.loginwrapper .span passwd { padding: 0 0 0 130px; }
	.loginwrapper p.lost_password { padding: 0 0 0 124px; margin:0px }
	.loginwrapper .lost_password a {font-family: arial; font-size: 12px; text-decoration: underline; }
	#create-account_form p.text, #login_form p.text { padding-left:16px; }
	#create-account_form h4 { margin-top:0px; clear:both; display:block }
	#login_form { clear:none }
	#login_form h3 { margin-bottom:15px }
	
	/* OPC */
	#opc_new_account #login_form { height:auto;}
	#opc_new_account h2{border-bottom:none}
	#opc_new_account #openLoginFormBlock{margin:0 auto; margin-left:17px; font-weight:bold}
	
		/* Cart Page */
		
		#cart_voucher{  padding:0 16px}
		#cart_voucher fieldset{margin:0px;}
		#cart_voucher form{margin:0px;}
		#cart_voucher h4{height:47px; line-height:47px; font-family:"accidental_presidencyregular",arial;  float:left; padding-right:16px; margin-bottom:0px;}
		#cart_voucher  p,#cart_voucher  label,#cart_voucher  input{float:left; margin-bottom:0px;}
		#cart_voucher  label{height:47px; line-height:47px; padding:0 16px}
		#cart_voucher  input{margin-top:6px; margin-right:16px}
		#cart_voucher  input.button{padding-right:20px; padding-left:20px;}
	
.social{display:block; clear:both; margin-top:12px; height:40px;}
#product_comments_block_extra{clear:both}
	
	/* PRODUCT LIST */
	.featuredProducts,.newProducts{clear:both}

	
		/* Compare Form */
		form.compareForm{float:right; margin:0px;}
		form.compareForm input[type=submit]{margin:0px;}
		form.compareForm p{}
		/* Sort By */
		form#productsSortForm{float:left; margin-bottom:0px;}
		form#productsSortForm  p{margin-bottom:0px;}
		form#productsSortForm  p input{margin-bottom:0px; float:right}
		form#productsSortForm  p select{float:left; margin-right:10px; width:166px; margin-bottom:0px;}
		form#productsSortForm  p label{float:left; padding:3px 10px 0 0px; display:block; margin:0px; width:100px; text-align:left; }
		
		/* Pagination */
		div#pagination {clear:both; display:block; overflow:hidden;}
		div#pagination ul.pagination{margin:0px; float:right; padding-bottom:10px}
		div#pagination ul.pagination li{float:left;padding:0 4px; font-size:12px; margin:0px;}
		div#pagination ul.pagination li a{text-decoration:none}
		div#pagination form.pagination {float:right; }
		div#pagination form.pagination  p{float:right}
		div#pagination form.pagination select{width:50px; float:left; margin:0 5px;}
		div#pagination form.pagination label{float:left; padding-top:4px;}
		div#pagination form.pagination input{float:left; margin:0px;}
		
	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) { 
		
		.sf-contener{width:748px;}
		.header .userblock,.topBanner img,.frontBanner .slidernav,.header #header_user{width:748px;}
		.content .bannerPart{height:480px;}
		#footer .safesecure img,#footer .moneyback img,#footer .shipping img{width:100%; height:auto}
		#pb-left-column{width:210px;}
		#attributes{width:auto; float:none}
		
		/* Modules */
		
		/* New Products */
		#new-products_block_right li{margin:0px; padding:0px;}
		#new-products_block_right li img{margin:0 auto; width:75px; height:auto}
		#new-products_block_right li.first{margin:0px 5px 0 5px; padding:0px;}
		
		/* Special */
		#special_block_right li.product_image{margin:0px; width:auto; float:none; text-align:center;}
		#special_block_right li.product_image img{margin:0 auto; float:none;}
		#special_block_right .products li{width:auto; text-align:center; float:none; clear:both}
		#special_block_right .products span.price-discount,#special_block_right .products span.price{padding-left:0px;}
		#special_block_right li h5{text-align:center;padding-left:0px;}
		#special_block_right .products span.reduction{display:inline-block; width:auto; margin:0 auto; float:none}
		
		
		/* Block Store*/
		.blockstore img{width:95%; height:auto}
		
		/* Shopping Cart Table */
		#cart_summary .cart_product, #cart_summary .tbody li.cart_item ul li.cart_product {width:15%}
		#cart_summary .cart_description, #cart_summary .tbody li.cart_item ul li.cart_description { width: 30%;}
		#cart_summary .cart_unit, #cart_summary .tbody li.cart_item ul li.cart_unit { width: 15%;}
		#cart_summary .cart_quantity, #cart_summary .tbody li.cart_item ul li.cart_quantity { width: 29%;}
		#cart_summary .cart_total, #cart_summary .tbody li.cart_item ul li.cart_total { width: 11%;}
		#cart_summary .thead li.cart_product .gap ,#cart_summary .thead li .gap {padding: 0 5px;}
		#cart_summary .tbody li.cart_item ul li .gap{padding: 5px 5px 0;}
		#cart_summary .tbody li.cart_item ul li.cart_quantity input.cart_quantity_input{left:5px;}
		#cart_summary .tbody li.cart_item ul li.cart_quantity .cart_quantity_button{left:55px;}
		#cart_summary .tbody li.cart_item ul li.cart_quantity .delIcon{left:117px;}
		
		/* Address */
		.addresses ul.address{margin:0px;}
		.addresses ul.address.alternate_item{float:right}
		#address_delivery{margin-right:0px;}
		#form_forgotpassword  p.text label {width:230px;}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	ul.address{width:290px;}
	#short_description_block{margin-bottom:0px; padding-bottom:0px;}
	.container .loginwrapper.columns.thirteen.columns{width:95%;}
	#create-account_form, #authentication #login_form{margin:0px 0 20px 0;}
	#create-account_form{float:left;}
	 #authentication #login_form{float:right}
	.flex-direction-nav{display:none}
	#order .delivery_option label, #order-opc .delivery_option label{width:677px; float:left; }
	#product_comparison .product_image img{width:90%; height:auto}
	table#product_comparison{width:98%}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

	
	/* Color, Background and Border */
	
	body{background:#f4f4f4 }
h1{color:#000;}
h1 span{color:#666;}
h2{color:#000000; border-bottom:solid 1px #d9dcdd}

span.new{background:url(../images/tag.png) 0 0 no-repeat;}

	#right_column .block{border:solid 1px #bebfc1;}
	#right_column .block h4,#right_column .block p.title_block{background:#999; border-bottom:solid 1px #bebfc1; }
	#right_column .exclusive h4{background:#333}
	#right_column .block h4 a{color:#000;}
	#right_column .exclusive h4 a{color:#fff}
	
	.breadcrumb{color:#000}
	.breadcrumb a{color:#000;}
		
	.topBanner{background:#fff;}
	
	#manufacturers_block_home{border:solid 1px #e5e5e5;}
	
		
		#featured-products_block_center h5{color:#666666; }
	
	/* Login Form */
	#login_form {border:1px solid #bebfc1;}
	.loginwrapper .std h4 {color: #707070;}
	
	.loginwrapper .lost_password a { color: #0991B8;}
	
	#opc_new_account #openLoginFormBlock{color:#30B9E7;}
		
		#cart_voucher{background:#edf0f1; border:solid 1px #bebfc1;}
		#cart_voucher h4{color:#666666; border-right:solid 1px #bebfc1}
			
.social{border-top:1px solid #e5e7e8; border-bottom:1px solid #e5e7e8; background:url(../images/socialBg.jpg) repeat-x}

		div#pagination {color:#999}
		div#pagination ul.pagination li a{color:#33CCFF;}
		div#pagination form.pagination label{color:#333}
		
	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) { 
		#special_block_right .products span.reduction{background-image:none; background-color:#990000}
		#special_block_right .products span.reduction span{background-image:none}
		}
		
		/* Changing text color */
		#featured-products_block_center h4{  background: none repeat scroll 0 0 #333333;
    border-bottom: 1px solid #666666;
    color: #FFFFFF;
    font-size: 21px;
    padding: 0 10px; }

	
	/* Blog Link */ 
	.bloglink img {float:left}
	.bloglink span {float:left; display:block; line-height:30px; text-decoration:none; font-weight:bold; font-size:12px; padding-left:5px; color}
