/* block top languages */
@media only screen and (min-width: 1200px){
.languages_block {
display: inline-block;
height: 22px;
padding: 2px 10px 0px 10px;
vertical-align: top;
z-index: 999;
vertical-align: top;
margin-top: 8px;
}
.lang_header{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
}

.PC_selected_lang:hover .PC_selection_lang{
	visibility: visible;
	opacity: 1;
}

.PC_selection_lang{
	text-transform: uppercase;
	display: inline-block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	transition: opacity .3s ease;
	margin-top: 1px;
}

.PC_selected_lang{
	display: inline-block;
color: #585858;
width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
font-size: 10px;
font-family: Arial, Tahoma, Verdana;
position: relative;
left: 4px;
vertical-align: top;
text-transform: uppercase;
cursor: pointer;
background-color: white;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
top: -2px;
border-radius: 15px;
}

.PC_show_lang  a {
	display: block;
	color: #585858;
width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
font-size: 10px;
font-family: Arial, Tahoma, Verdana;
position: relative;
left: -5px;
vertical-align: top;
text-transform: uppercase;
cursor: pointer;
background-color: white;
-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
top: -2px;
margin:5px;
	border-radius: 15px;
}

.PC_show_lang a:hover{
	background-color: #4f4f4f;
	text-decoration: none;
	color: #fff;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
}



@media only screen and (max-width: 1200px){
.languages_block {
font-size: 12px;
text-transform: uppercase;
color: #585858;
width: 100%;
margin: 0 auto;
height: 35px;
line-height: 35px;
border: 1px solid #d2d2d2;
background-color: rgb(238, 238, 238);
margin-top: 10px;
}

.lang_header{
float: left;
padding-left:5px;
}

.PC_selected_lang:hover .PC_selection_lang{
display: inline-block;
}

.PC_selection_lang{
display: inline-block;
margin-left: 5px;
}

.PC_selected_lang{
float: right;
color: #585858;
line-height: 33px;
font-size: 10px;
font-family: Arial, Tahoma, Verdana;
position: relative;
right: 4px;
text-transform: uppercase;
}


.PC_show_lang a{
display: inline-block;
color: #585858;
width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
font-size: 10px;
font-family: Arial, Tahoma, Verdana;
position: relative;
vertical-align: top;
text-transform: uppercase;
cursor: pointer;
background-color: white;
-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
margin: 2px;
border-radius: 15px;
top: 1px;
}


.PC_show_lang a:hover{
color: #fff;
text-decoration: none;
background-color: #646464;
cursor: pointer;
}
}