<p class="payment_module">
   <a href="{$COD_this_path_ssl}validation.php" title="{l s='Pagar en efectivo' mod='maofree_cashondeliveryfee'}">
      <img src="{$COD_this_path}img/cashondelivery2.jpg" alt="{l s='Pagar en efectivo' mod='maofree_cashondeliveryfee'}" width="64" height="45" style="float:left;" />
		<br />PAGO EN EFECTIVO
		<!-- {l s='You pay with cash for the merchandise upon delivery' mod='maofree_cashondeliveryfee'}, -->
		<!-- <br />({l s='additional cost' mod='maofree_cashondeliveryfee'}: <span class="price" style="font-size:1em">{convertPrice price=$COD_fee}</span>) -->
		<br style="clear:both;" />
   </a>
</p>
