div#cookieslaw div#top {
    z-index: 999999999999999999;
    width: 100%;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    text-align: center;
	margin: 0 0 20px;
	border-bottom: 1px solid #333333;
	color: #CCCCCC;
	font-size: 13px;
	padding: 10px 0 7px;
}

div#cookieslaw div#bottom {
    z-index: 999999999999999999;
    width: 100%;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	bottom: 0px;
    text-align: center;
	border-bottom: 1px solid #333333;
	color: #CCCCCC;
	font-size: 13px;
	padding: 10px 0 7px;
	position: fixed;
}

div#cookieslaw p#textstrong{
	color: #ddd;
	display: inline;
}

div#cookieslaw p#textstrong a#cookies{
	border-bottom: 1px dotted #888888;
	color: #dddddd;
}

div#cookieslaw span#text{
	color: #999;
}

div#cookieslaw div#buttons{
	display: inline-block;
	font-size: 11px;
	position: relative;
	text-decoration: none;
	top: -2px;
}

a#cookieslawOK{
    background-color: #008C73;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	margin-left: 5px;
    padding: 3px 5px;
}

a#cookienotOK{
	background-color: #666666;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	margin-left: 2px;
    padding: 3px 5px;
}

