/*** Banner manager module Centering adds   ****/
#bnrmanager-left p img{
display: block;
margin: -10px;
width: auto;
padding-top: 10px;
padding-bottom: 20px;
background-color: white;
}

#bnrmanager-home p img{

display: inline-block;
width: auto;
background-color: white;
float:left;
/*padding-bottom: 20px;
width: 100%;
margin-top: -20px;*/
}

@media only screen and (min-width: 766px) {
#bnrmanager-left{width: 220px;position: relative;margin-top: 30px;}
}
@media only screen and (max-width: 766px) {
#bnrmanager-left{display:none;}
}