/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.frontBannerContainer{display:block; height:auto;}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px;  position: relative;  zoom: 1; height:auto;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 400px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {display:none; width:48px; position:absolute; left: 552px;
top: 378px;}
.flex-direction-nav a {width: 24px; height: 24px; margin: -20px 0 0; float:left; margin-top:-12px; display: block; background: url(../images/nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}


.flex-direction-nav .flex-next {background-position: 100% 0; left: 51px; }
.flex-direction-nav .flex-prev {left: 24px;}

html.ie .flex-direction-nav .flex-prev {right: 0px;}
html.ie .flex-direction-nav .flex-next{right:24px;}
html.ie  .flex-control-nav{display:block}
html.ie .frontBanner {padding-bottom:0px;}

.flexslider:hover .flex-next {opacity: 0.8;  }
.flexslider:hover .flex-prev {opacity: 0.8; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: 1; filter:alpha(opacity=1); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 20px; text-align: center; display:block}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 15px; height: 15px; display: block; background: #000;  cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover {  background: #333; }
.flex-control-paging li a.flex-active { background: #3cf;  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.brandslogoes .flex-control-nav {display:none}
.brandslogoes .flex-direction-nav{position:relative; display:none}

/* Front Banner */
.frontBanner {position:relative;  height:auto;  }
.frontBannerInner{ repeat-x ; height:auto; position:relative; padding:20px 0  }
.frontBanner ul{margin:0px;}
.frontBannerContainer{width:940px; height:auto; margin:0 auto }
.frontBanner ul li{margin:0px;}
.frontBanner ul li a img{  }
.frontBanner  .slidernav{position:absolute; top:50%; margin-top:-13px; width:940px; }
.frontBanner  .slidernav .prev{background:url(../../../images/slidernav.png) no-repeat; text-indent:-999em; width:22px; height:46px; display:block; float:left; margin-left:-21px}
.frontBanner  .slidernav .next{background:url(../../../images/slidernav.png) no-repeat 100% 0; text-indent:-999em; width:22px; height:46px; display:block; float:right; margin-right:-22px}
